@import "mixins/clearfix.css.scss";
@import "mixins/variables.css.scss";

#home-index {
  width: 1000px;
  margin-top:30px;
  font-family: $common-helvetica;

  header {
  }
  h1 {
    font-size: 2em;
    margin: 20px auto;
  }
  .recipes {
    @include cf;
  }
  .recipe-item {
    width: 320px;
    height: auto;
    min-height: 300px;
    float: left;
    margin: 40px 0 20px 20px;
    color: white;
    position: relative;
    &:nth-of-type(3n+1) {
      margin-left: 0;
    }
    .photo {
      height: 240px;
      iframe {
        width: 320px;
        height: 240px;
        position: absolute;
        top: 0;
        left: 0;
      }
      .recipe-photo {
        display: block;
        width: 320px;
        height: 240px;
        background-size: cover;
        background-position: center;
      }
    }
    .summary {
      @include cf;
      display: block;
      padding-top: 8px;
      width: 320px;
      height: auto;
      min-height: 240px;
      position: relative;
      a {
        color: #4183C4;
        text-decoration: none;
        &:hover{
          color: #4183C4;
          text-decoration: underline;
        }
      }
      .title {
        margin: 20px 0 20px 0px;
        width: 240px;
        font-size:32px;
        font-weight: 900;
      }
      .description {
        display: block;
        margin-top: 6px;
        font-size: 14px;
        color: black;
      }
    }
  }
  footer {
    clear: both;
    .pagination {
      a {
        text-decoration: underline;
      }
    }
  }
}
