meta property="og:site_name" content="Fabble"
meta property="og:email" content="support@fabble.cc"
meta property="og:type" content="article"
meta property="og:url" content="#{request.url}"

- title = local_assigns[:title] || 'Fabble'
meta property="og:title" content="#{title}"

- description = local_assigns[:description] || 'New Platform to Share Fab Projects all over the world'
meta property="og:description" content="#{description}"

- image = local_assigns[:image] || asset_url('/images/logo.png')
meta property="og:image" content="#{image}"

- if local_assigns[:video].present?
  meta property="og:video" content="#{video}"
  meta property="og:video:width" content="600"
  meta property="og:video:height" content="400"
  meta property="og:video:type" content="application/x-shockwave-flash"
