.attachments
  - card.attachments.each do |attachment|
    .attachment data-title="#{attachment.title}" data-link="#{attachment.link}" data-markupid="#{attachment.markup_id}" data-content="#{attachment.content}"