@import "mixins/clearfix.css.scss";
body {
    font-family: helvetica, sans-serif;
    a {
      color: #000;
      text-decoration: none;
    }
    :hover {
      color: #000;
      text-decoration: none;
      background: transparent;
    }
}
#content {
  width: 960px;
  margin: 0 auto;
}
.row {
  @include cf;
  & > * {
    float: left;
  }
}
