<p>Hello <%= @user.email %>!</p>

<p>To download your data, click the link below.</p>

<p><%= link_to 'Download backup', user_download_backup_url(user_id: @user, download_backup_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
