$common-basic-color: #52C3F1;
$common-light-blue: #E3F6FF;
$common-dark-blue: #3BA3FE;
$common-light-gray: #EAEAEA;
$common-gray: #999999;
$common-dark-gray: #555555;

$common-text-color: black;
$common-quiet-text-color: $common-gray;
$common-error-text-color: red;
$common-title-text-color: white;
$common-label-text-color: white;
$common-btn-text-color: white;
$common-background-color: white;
$common-modal-background-color: rgba(0, 0, 0, 0.6);
