$common-sans-serif: 'YuGothic', 'Yu Gothic','游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
$common-helvetica: helvetica, 'YuGothic', 'Yu Gothic','游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
$common-verdana: verdana, 'YuGothic', 'Yu Gothic','游ゴシック', 'Hiragino-Pro-W3', sans-serif;
$common-novelsans-light: 'novelsans-light', 'YuGothic', 'Yu Gothic','游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino-Pro-W3', sans-serif;
$common-novelsans-semibold: 'novelsans-semibold', 'YuGothic', 'Yu Gothic','游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino-Pro-W3', sans-serif;

@font-face {
  font-family: "novelsans-light";
  src: asset-url("NovelSansRdProLight.eot") format('eot'),
       asset-url("NovelSansRdProLight.woff") format('woff');
}
@font-face {
  font-family: "novelsans-semibold";
  src: asset-url("NovelSansRdProSemiBold.eot") format('eot'),
       asset-url("NovelSansRdProSemiBold.woff") format('woff');
}
