@import "mixins/clearfix.css.scss";
@mixin row {
  @include cf;
  & > * {
    float: left;
  }
}

@mixin spacing-row($parent_width, $spacing_width, $num_cols) {
  @include row;
  margin-left: -($spacing_width);
  & > * {
    margin-left: $spacing_width;
    width: ($parent_width / $num_cols - $spacing_width);
  }
}
