@import "mixins/colors";

@mixin slick($prev_left_margin: 5px, $next_right_margin: 25px) {
  overflow: hidden;
  border: none;
  border-radius: 0;
  box-shadow: none;
  .slick-list {
    z-index: 1;
  }
  .slick-prev, .slick-next {
    top: 0px;
    height: 100%;
    font-size: 0;
    z-index: 2;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
    &:before {
      color: $common-basic-color;
      font-size: 40px;
    }
  }
  .slick-prev {
    left: $prev_left_margin;
  }
  .slick-next {
    right: $next_right_margin;
  }
  .slick-prev:before {
    content: '<';
  }
  .slick-next:before {
    content: '>';
  }
  .slick-dots {
    bottom: 6px;
    z-index: 2;
    li button {
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
    li button:before {
      font-size: 12px;
      color: $common-basic-color;
    }
    li.slick-active button::before {
      opacity: 0.9;
    }
  }
}
