$content_width: 960px;
$recipe_main_width: 720px;

$common-border: 1px solid #000;

$common-margin: 10px;

$common-basic-color: #52c3f1;

$common-light-gray: #F2F2F2;
$common-dark-gray: #808080;

$common-sans-serif: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
$common-helvetica: helvetica, sans-serif;
$common-verdana: verdana, sans-serif;

$common-line-height: 1.75em;
