@import "mixins/colors";
@import "mixins/fonts";

$content_width: 960px;
$recipe_main_width: 720px;

$common-border: 1px solid #000;
$common-margin: 10px;
$common-margin-for-footer: 60px;
$common-line-height: 1.75em;
