$content_width: 960px;
$recipe_main_width: 720px;

$common-border: 1px solid #000;

$common-lime: #00FF00;

$common-sans-serif: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;