$content_width: 960px;
$recipe_main_width: 720px;

$common-border: 1px solid #000;

$common-margin: 10px;
$common-margin-for-footer: 60px;

$common-basic-color: #52C3F1;
$common-light-blue: #E3F6FF;
$common-light-gray: #F2F2F2;
$common-charcoal-gray: #555555;
$common-dark-gray: #808080;
$common-gray: #999999;

$common-sans-serif: 'YuGothic', 'Yu Gothic','游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
$common-helvetica: helvetica, 'YuGothic', 'Yu Gothic','游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
$common-verdana: verdana, 'YuGothic', 'Yu Gothic','游ゴシック', 'Hiragino-Pro-W3', sans-serif;
$common-novelsans-light: 'novelsans-light', 'YuGothic', 'Yu Gothic','游ゴシック', 'Hiragino-Pro-W3', sans-serif;
$common-novelsans-semibold: 'novelsans-semibold', 'YuGothic', 'Yu Gothic','游ゴシック', 'Hiragino-Pro-W3', sans-serif;

$common-line-height: 1.75em;
$common-footer-height: 200px;

@font-face {
  font-family: "novelsans-light";
  src: asset-url("NovelSansRdProLight.eot") format('eot'),
       asset-url("NovelSansRdProLight.woff") format('woff');
}
@font-face {
  font-family: "novelsans-semibold";
  src: asset-url("NovelSansRdProSemiBold.eot") format('eot'),
       asset-url("NovelSansRdProSemiBold.woff") format('woff');
}
