<%= form_for Tag.new, remote: true do |new_tag_form| %>
  <%= new_tag_form.text_field :name %>
  <%= new_tag_form.submit "create a tag" %>
<% end %>

<% content_for :bottom do %>
<script>
  $(document).on("ajax:success", "#new_tag", function(event, data){
    if(data.id){
      if($("#tags").find("input[value="+data.id+"]").length == 0){
        $("#tags").append("<label><input type='checkbox' value='"+data.id+"' name='recipe[tag_ids][]' checked>"+data.name+"</label>");
      }
    }
    $("#new_tag #tag_name").val("");
  });
</script>
<% end %>
