<section id="usages">
  <h1>Usages</h1>
  <ul>
  <% if @recipe.usages.present? %>
    <% @recipe.usages.each do |usage| %>
      <li>
        <article class="usage">
          <% if usage.photo.present? %>
            <% image_tag usage.photo %>
          <% end %>
          <div class="description">
            <% if usage.description.present? %>
              <p><% image_tag usage.descrtiption %></p>
            <% end %>
          </div>
        </article>
      </li>
    <% end %>
  <% end %>
  </ul>

</section>
