<section id="utils">
  <section id="tooltips">
<%# TODO: Slideshowボタンの画像を作成%>
<%# TODO: Forkボタンの画像を作成%>
    <div id="slideshow-button">Slideshow</div>
    <div id="fork-button">Fork</div>
  </section>
  <section id="user-id">
    <div class="thumbnail"></div>
    <div class="screen-name"></div>
    <time id="created-datetime" ></time>
    <time id="last-updated-datetime"></time>
  </section>
  <section id="tool-options">
    <p>Tool Options</p>
  </section>
  <section id="tags">
    <p>Tags</p>
  </section>
</section>
