- content_for :utils do
  == render "recipes/utils", recipe: @recipe, owner: @owner, available_operations: [:save, :delete]

main#recipes-edit
  == render "form"
#markup-help data-upload-path = url_for([@owner, @recipe, Attachment.new]) data-css-path = asset_path("recipe.css")

- content_for :bottom
  coffee:
    $ ->
      makeSortableWay = (elem) ->
        $(elem).sortable({
          items       : "> .fields:not(.dummy)",
          connectWith : ".ways",
          placeholder : "ui-state-highlight",
          forcePlaceholderSize : true,
          update      : (event, ui) -> console.log "update",
          stop        : (event, ui) -> updateStatusId ui.item,
      })

      updatePosition = (form) ->
        position = $(form).index("#making > .fields") + 1
        $(form).find("input.position-field").val position

      updateStatusId = (form) ->
        reassocToken = $(form).closest(".ways").siblings("input.status-reassoc-token-field").val()
        $(form).find("input.way-reassoc-token-field").val reassocToken

      setStatusReassocToken = (field) ->
        token = Math.ceil(Math.random() * 900000000000000000)
        $(field).find("input.status-reassoc-token-field").val token

      setWayReassocToken = (field) ->
        token = Math.ceil(Math.random() * 900000000000000000)
        $(field).find("input.way-reassoc-token-field").val token

      $(document).on "nested:fieldAdded", (e) ->
        setStatusReassocToken e.field
        makeSortableWay e.field.find(".ways")

      UPLOAD_LIMIT = 10 * 1000 * 1000

      checkFileSizeLimit = ->
        sum_of_filesize = 0
        thumb_files = $("#recipe_photo")[0].files
        if thumb_files.length > 0
          sum_of_filesize += thumb_files[0].size
        $(".file-field").each ->
          if $(this).parents(".fields").css("display") != "none"
            if $(this)[0].files.length > 0
              sum_of_filesize += $(this)[0].files[0].size
        submitButton = $("main#recipes-edit input").last()
        if sum_of_filesize > UPLOAD_LIMIT
          $("#filesize-caution").css "display", "block"
          submitButton.attr "disabled", true
        else
          $("#filesize-caution").css "display", "none"
          submitButton.attr "disabled", false

      $(document).on "change", "form.recipe-form", ->
        checkFileSizeLimit()

      $(document).on "click", "a.remove_nested_fields", ->
        checkFileSizeLimit()

      $("#making").sortable({
        items       : "> .fields",
        placeholder : "ui-state-highlight",
        forcePlaceholderSize : true,
        update      : (event, ui) -> console.log "update",
        stop        : (event, ui) -> updatePosition ui.item,
      })
      makeSortableWay $(".ways")
      $("#making").disableSelection()

      $(document).on "click", "main#recipes-edit .buttons input", (event)->
        event.preventDefault()
        wayFields = $("#making .fields .ways").last().find(".fields")
        if $(wayFields).length > 0 && $(wayFields).has(".item.way").length > 0
          $(".add_nested_fields").last().click()
        $("form.recipe-form").submit()
