<section id="recipes_index">
  <div id="recipes">
    <% @recipes.each do |recipe| %>
      <div class="recipe">
        <p class="cover"><%= link_to "", [recipe.user, recipe] %></p>
        <div class="summary">
          <p><%= recipe.title %></p>
          <p><%= recipe.description %></p>
          <ul>
            <li><%= link_to 'Show', [recipe.user, recipe] %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</section>
