- content_for :utils do
  == render "recipes/utils", recipe: @recipe, owner: @owner, available_operations: [:fork, :slide, :tag]

main#recipes-show

  == render "basic_information"

  ul#tabs
    li.tab#recipe-tab.selected
     'Recipe
    li.tab#journal-tab.not-selected
      == link_to "Journals", recipe_posts_path(owner_name: @owner.name, recipe_id: @recipe.name), class: "tab"
    li.links
      == link_to "Delete Recipe", [@owner, @recipe], method: :delete, class: "btn" if can? :manage, @recipe
      == link_to "Edit Recipe", edit_recipe_path(@recipe, owner_name: @owner.name), class: "btn" if can? :manage, @recipe


  section#materials
    h1
      'Materials
    ul#material-list
      - @recipe.materials.each do |item|
        == render "material", item: item

    h1
      'Tools
    ul#tool-list
      - @recipe.tools.each do |item|
        == render "tool", item: item

  section#making
    h1
      'Making
    ul#statuses
      - @recipe.statuses.sorted_by_position.each do |item|
        == render "status", item: item

  section#usages
    h1
      'Usages
    ul#usage-list
      - @recipe.usages.each do |item|
        == render "usage", item: item
    == render "add_form", item: @recipe.usages.build

  section#comments
    #comments-meta
      .how-many
        == "#{@recipe.comments.length} comments"
    ul#comment-list
      - @recipe.comments.each do |comment|
        == render "comments/comment", comment: comment

    == form_for Comment.new, remote: true do |f|
      .avatar-wrapper
        == image_tag current_user.avatar, class: "avatar" if user_signed_in?
      == f.text_area :comment, placeholder: "Add comment…"
      == f.hidden_field :commentable_type, value: @recipe.class.name
      == f.hidden_field :commentable_id, value: @recipe.id
      == f.submit "Add Comment", class: "submit-btn btn"

  - content_for :bottom
    coffee:
      $ ->
      	$(".fancybox").fancybox
          openEffect: "none"
          closeEffect: "none"
          wrapCSS: ".fork-popup"
          helpers:
            overlay:
              css:
                "background":"rgba(0, 0, 0, 0.2)"

        $(document).on "ajax:success", ".edit-form", (event, data, status) ->
          if data.success
            $(this).closest("li.#{data.class}").replaceWith data.html

        $(document).on "ajax:success", ".add-form", (event, data, status) ->
          if data.success
            $(event.target).find("textarea:not(.not-cleared), input[type!=submit]:not(.not-cleared)").val ""
            $(event.target).css "display","none"
            if data.class == "way"
              $(event.target).closest(".ways").find("ul").append data.html
            else
              $("##{data.class}-list").append data.html

        $(document).on "ajax:success", ".delete-btn", (event, data, status) ->
          if data.class == "way"
            $(event.target).closest(".status").find(".add-btn").css("display", "block")
          else if data.class == "status"
            $(event.target).closest("li").next("li").remove()
          $(event.target).closest("li").remove()

        $(document).on "click", ".edit-btn, .add-btn", (event, data) ->
          event.preventDefault()
          $(event.target).siblings("form").toggle()

        $(document).on "ajax:success", "#new_tag", (event, data, status) ->
          $(event.target).siblings("#tag-list").append data.html
          $(event.target).find("#tag_name").val ""

        $(document).on "click", ".tag-delete-btn", (event, data) ->
          $(this).closest(".tag").remove()

        $(document).on "click", "#slideshow-btn", (event, data) ->
          event.preventDefault()
          $(".fancybox.item-photo").first().trigger "click"

        $(document).on "click", ".upload-image-btn", (event, data) ->
          event.preventDefault()
          $(event.target).parents(".photo-field").siblings(".edit-form-wrap").find(".add-photo").trigger "click"

        $(document).on "change", ".add-photo", (event, data, status) ->
          file = event.target.files[0]
          reader = new FileReader()
          reader.onload = ->
            $(event.target).closest(".edit-form-wrap").siblings(".photo-field").find("img").attr "src", reader.result
            $(event.target).parents("form.edit-form").submit()
          reader.readAsDataURL file

        $(document).on "click", ".delete-image-btn", (event, data) ->
          event.preventDefault()
          element = $(event.target).parents(".photo-field").siblings(".edit-form-wrap")
          element.find(".remove-photo").attr "checked", true
          element.find("form.edit-form").submit()

        $(document).on "click", ".fork-destination", (event, data) ->
          $(this).find("form").submit()

        $(document).on "click", ".comment .delete-btn", ->
          $(this).closest("li").remove()

        $(document).on "click", "#new_comment .submit-btn", (event)->
          event.preventDefault()
          if $.trim($("#comment_comment").val()) != ""
            $("#new_comment").submit()
            $("#comment_comment").val ""

        $(document).on "ajax:success", "#new_comment", (e, data) ->
          $("ul#comment-list").append data.html

        UPLOAD_LIMIT = 10 * 1000 * 1000

        $(document).on "change", ".add-photo", (event) ->
          if $(this)[0].files[0].size > UPLOAD_LIMIT
            $(this).siblings(".filesize-caution").css "display", "block"
            $(this).siblings("input").attr "disabled", true
          else
            $(this).siblings(".filesize-caution").css "display", "none"
            $(this).siblings("input").attr "disabled", false
