@import "mixins/variables.css.scss";
body {
    font-family: helvetica, sans-serif;
    a {
      color: #000;
      text-decoration: none;
    }
    :hover {
      color: #000;
      text-decoration: none;
      background: transparent;
    }
}
#content {
  width: $content_width;
  margin: 0 auto;
}
