@import "mixins/variables.css.scss";
body {
  background-color: #E6E6E6;
  font-family: $common-sans-serif;
  a {
    color: #000;
    text-decoration: none;
    &:hover {
      color: #000;
      text-decoration: none;
      opacity: 0.6;
    }
  }
}
#content {
  width: $content_width;
  margin: 0 auto;
}
#error_explanation {
  color: red;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
