@import "mixins/variables.css.scss";
.btn {
  display: inline-block;
  padding: 2px 10px 0;
  background: $common-gray;
  font-family: $common-novelsans;
  font-size: 11px;
  color: white;
  line-height: $common-line-height;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background: #ddd;
  }
}


.horizontal-border {
  width: 60px;
  height: 0px;
  border-bottom: 1px solid;
  &.basic-color {
    border-color: $common-basic-color;
  }
  &.black {
    border-color: black;
  }
  &.white {
    border-color: white;
  }
  &.green {
    border-color: #00FF00;
  }
  &.f-left{
    float: left;
  }
  &.f-right{
    float: right;
  }
  &.m-b-5 {
    margin-bottom: 5px;
  }
  &.m-b-10 {
    margin-bottom: 10px;
  }

}
