#groups-new
  h1
    'New Group
  == render "form"

- content_for :bottom
  coffee:
    $(document).on "click", "#group-avatar", (event) ->
      event.preventDefault()
      $("#group-avatar-form").trigger "click"

    $(document).on "click", "#upload-button", (event) ->
      event.preventDefault()
      $("#group-avatar-form").trigger "click"

    $(document).on "change", "#group-avatar-form", ->
      reader = new FileReader()
      reader.onload = ->
        $("#group-avatar").attr "src", reader.result
      reader.readAsDataURL this.files[0]
