#layouts-header{
  margin-bottom: 40px;

  .inner {
    width: 100%;
    background: #EEE;
  }
  .container {
    margin: 0px auto;
    width: 960px;
    height: 60px;
    font-family: sans-serif;
  }
  #logo {
    float: left;
    padding-top: 18px;
    width: 160px;
    height: 40px;
    font-weight: 900;
    font-size: 32px;
  }
  #search-box {
    float: left;
    margin: 8px 0 12px 40px;
    width: 320px;
    height: 40px;
  }
  #search-form {
    margin: 0;
    width: 320px;
    height: 36px;
    font-size: 16px;
  }

  #tools {
    .box {
      float: right;
      padding: 20px 0 0;
      width: auto;
      min-width: 200px;
      height: 40px;
    }
    #user {
      float: left;
      margin-right: 20px;
      width: auto;
      min-width: 60px;
      height: 40px;
      font-weight: 700;
      font-size: 16px;
      .avator-thumb {
        float: left;
        margin: -10px 10px 0 0;
        width: 40px;
        height: 40px;
        img {
          max-width: 100%;
          height: auto;
        }
        &:not(:first-child) {
          margin-top: 2px;
        }
      }
    }
    #create-recipe {
      float: left;
      margin-top: -10px;
      width: 40px;
      height: 40px;
      font-weight: 700;
      font-size: 32px;
    }
    #settings {
      float: left;
      margin: -10px 10px 0 0;
      width: 40px;
      height: 40px;
    }
    #logout {
      float: left;
      margin: -10px 0 0 0;
      width: 40px;
      height: 40px;
    }
  }

  #sign-in {
    float: right;
    margin: 20px 0 0;
    width: 240px;
    height: 40px;
    font-size:24px;
  }

}
