@import "mixins/clearfix";
@import "mixins/variables";

#layouts-header{
  margin-bottom: 35px;
  background-color: $common-background-color;
  .inner {
    width: 100%;
  }
  .container {
    @include cf;
    position: relative;
    margin: 0 auto;
    padding: 18px 0 20px;
    width: 960px;
    height: 42px;
    font-family: "novelsans-semibold";
  }
  #logo {
    float: left;
    margin-left: 10px;
    padding-top: 7px;
    .logo {
      background: image-url("icons/logo") no-repeat;
      width: 79px;
      height: 23px;
      display: block;
    }
  }
  #search-box {
    float: left;
    margin-left: 80px;
    width: 240px;
    height: 30px;
    #search-form {
      padding-left: 10px;
      width: 240px;
      height: 30px;
      font-family: "novelsans-semibold";
      font-size: 15px;
      border: solid 1px $common-gray;
      border-radius: 5px;
    }
  }
  #tools {
    float: right;
    .user {
      display: inline-block;
      vertical-align: top;
      padding: 5px 0 0 5px;
      margin-right: 20px;
      width: auto;
      min-width: 140px;
      height: 25px;
      .avatar {
        display: inline-block;
        vertical-align: bottom;
        .avator-thumb {
          width: 35px;
          height: 35px;
          border-radius: 35px;
          border: solid 3px $common-gray;
          margin: -3px;
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
      .name {
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 15px;
        line-height: 21px;
      }
    }
    .box {
      position: relative;
      display: inline-block;
      padding: 18px 0px 12px 10px;
      text-align: right;
      width: 168px;
      height: 12px;
      border-left: solid 1px $common-basic-color;
      .icon {
        display: inline-block;
        margin-top: -12px;
        margin-right: 10px;
        width: 32px;
        height: 32px;
      }
      .create-project {
        background: image-url("icons/create_project") no-repeat;
        width: 32px;
        height: 32px;
      }
      .show-notifications {
        background: image-url("icons/notifications") no-repeat;
        width: 32px;
        height: 32px;
      }
      .settings {
        background: image-url("icons/settings") no-repeat;
        width: 32px;
        height: 32px;
      }
      .logout {
        background: image-url("icons/logout") no-repeat;
        width: 32px;
        height: 32px;
      }
      .notifications-badge {
        position: absolute;
        top: 18px;
        left: 64px;
        width: 16px;
        height: 16px;
        border: 1px solid $common-basic-color;
        border-radius: 16px;
        background: $common-basic-color;
        position: absolute;
        .inner {
          margin-top: 4px;
          text-align: center;
          font-size: 10px;
          color: $common-label-text-color;
        }
      }
    }
  }

  #sign-in {
    float: right;
    padding: 9px 0 0 10px;
    width: 300px;
    font-size: 12px;
    line-height: 21px;
    border-left: $common-border;
  }

  #notifications-index {
    position: absolute;
    right: 0px;
    top: 60px;
    width: 250px;
    max-height: 320px;
    overflow: scroll;
    background: $common-background-color;
    border-radius: 5px;
    border: 1px solid $common-basic-color;
    z-index: 9999;
    &.hidden {
      display: none;
    }
    .mark-all-as-read {
      position: relative;
      width: 100%;
      height: 40px;
      padding-bottom: 10px;
      background: $common-basic-color;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
      .container {
        display: block;
        margin: 0 auto;
        width: 180px;
        height: 100%;
        padding: 20px 0;
        font-family: "novelsans-semibold";
        font-size: 14px;
        color: $common-btn-text-color;
        &:before {
          background: image-url("icons/mark_as_read") no-repeat;
          width: 32px;
          height: 32px;
          display: inline-block;
          vertical-align: top;
          margin-top: -12px;
          padding-right: 5px;
        }
      }
    }
    .notifications {
      position: relative;
      .notification {
        margin: 0 10px;
        width: 230px;
        border-bottom: 1px solid $common-basic-color;
        &:last-child {
          border: none;
        }
        .container {
          display: table;
          margin: 0px auto;
          padding: 10px 0px 5px;
          width: 230px;
          font-family: "novelsans-semibold";
          .avatar-wrapper {
            display: table-cell;
            .avatar {
              margin: -2px;
              border: 2px solid $common-gray;
              border-radius: 30px;
              width: 30px;
              height: 30px;
            }
          }
          .body {
            display: table-cell;
            padding-left: 10px;
            vertical-align: top;
            font-size: 12px;
            line-height: 1.5;
          }
        }
      }
    }
  }

}
