@import "mixins/clearfix.css.scss";
@import "mixins/variables.css.scss";

#layouts-header{
  margin-bottom: 35px;
  background: white;
  .inner {
    width: 100%;
  }
  .container {
    @include cf;
    margin: 0 auto;
    padding: 18px 0 20px;
    width: 960px;
    height: 42px;
    font-family: "novelsans-semibold";
  }
  #logo {
    float: left;
    margin-left: 10px;
    padding-top: 7px;
    a {
      display: block;
    }
  }
  #search-box {
    float: left;
    margin-left: 80px;
    width: 240px;
    height: 30px;
    #search-form {
      padding-left: 10px;
      width: 240px;
      height: 30px;
      font-family: "novelsans-semibold";
      font-size: 15px;
      border: solid 1px $common-dark-gray;
      border-radius: 5px;
    }
  }
  #tools {
    float: right;
    .user {
      display: inline-block;
      vertical-align: top;
      padding: 5px 0 0 5px;
      margin-right: 20px;
      width: auto;
      min-width: 140px;
      height: 25px;
      .avatar {
        display: inline-block;
        vertical-align: bottom;
        .avator-thumb {
          width: 35px;
          height: 35px;
          border-radius: 35px;
          border: solid 5px $common-gray;
          margin: -5px;
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
      .name {
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 15px;
        line-height: 21px;
      }
    }
    .box {
      display: inline-block;
      padding: 18px 0px 12px 10px;
      text-align: right;
      width: 130px;
      height: 12px;
      border-left: solid 1px $common-basic-color;
      .icon {
        display: inline-block;
        margin-top: -12px;
        margin-right: 10px;
        width: 32px;
        height: 32px;
      }
    }
  }

  #sign-in {
    float: right;
    padding: 9px 0 0 10px;
    width: 300px;
    font-size: 12px;
    line-height: 21px;
    border-left: $common-border;
  }

}
