@import "mixins/variables";
#layouts-maintenance-noticitaiton {
  background: $common-basic-color;
  .inner {
    margin: 0 auto;
    padding: 15px 0;
    font-size: 14px;
    text-align: center;
    #hide-maintenance-notification {
      margin-left: 20px;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
