= render "components/usage", card: usage,
                             edit_url: edit_project_usage_path(@owner, @project, usage),
                             delete_url: project_usage_path(@owner, @project, usage)
