@import "mixins/clearfix.css.scss";
@import "mixins/variables.css.scss";
@import "mixins/clickable.css.scss";

#edit-profile {
  display: inline-block;
  float: none;
  width: 690px;
  padding: 20px;
  margin: 20px 0;
  font-family: $common-novelsans-semibold;
  border-radius: 5px;
  background-color: $common-background-color;

  #notice {
    color: green;
    margin-bottom: 20px;
  }

  .page-title {
    padding: 20px 0;
    font-weight: normal;
    font-size: 30px;
  }

  .left {
    display: inline-block;
    width: 300px;
    height: 300px;
  }
  .right {
    display: inline-block;
    margin-left: 40px;
    width: 350px;
    height: 300px;
    vertical-align: top;
  }

  #group-avatar {
    @include clickable;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    border: 10px solid #D8D8D8;
  }
  #group-avatar-form {
    display: none;
  }
  #upload-button {
    margin: 20px 0 15px;
    padding: 5px 10px;
    color: $common-quiet-text-color;
    background-color: $common-background-color;
    border: 1px solid $common-gray;
    &:before {
      content: asset-url("edit_image_gray.png");
      position: relative;
      top: 3px;
      padding-right: 5px;
    }
  }

  .text-form {
    width: 330px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid $common-basic-color;
    border-radius: 5px;
    background-color: $common-background-color;
    font-family: $common-verdana;
    font-size: 22px;
  }

  #submit {
    @include clickable;
    margin: 60px 0 20px;
    padding: 5px 68px;
    font-size: 18px;
    color: $common-btn-text-color;
    background: $common-basic-color;
    border: none;
  }

}
