@import "mixins/clearfix.css.scss";
@import "mixins/variables.css.scss";
@import "layouts/settings.css.scss";

#groups-edit {
  display: inline-block;
  width: 700px;
  margin: 0px 20px 0 0;

  #edit-profile {
    display: block;
    margin: 20px 20px 0 0;
    background: white;
    border: $common-border;
    h1 {
      background-color: $header_background;
      padding: 10px 0 10px 10px;
      font-size: 21px;
      border-bottom: $common-border;
    }
    #notice {
      color: green;
    }
    dt {
      display: block;
      padding: 15px 0 5px 20px;
      font-size: 18px;
    }
    dd {
      display: block;
      margin-bottom: 20px;
      padding: 0 0 0 20px;
      max-width: 240px;
    }
    #group-avatar {
      width: 240px;
      height: 240px;
      border: $common-border;
    }
    #group-avatar-form {
      display: none;
    }
    #upload-button {
      margin-top: 10px;
      border: $common-border;
    }

    #group-name-form {
      width: 250px;
      padding: 5px 5px;
      border: $common-border;
      background-color: white;
      font-size: 14px;
    }
    #submit {
      margin: 20px 0 10px 20px;
      border: $common-border;
    }
    .cancel-btn {
      vertical-align: top;
      margin: 20px 0 10px 20px;
      border: $common-border;
    }

  }

  #edit-members {
    display: block;
    margin: 20px 20px 0 0;
    border: $common-border;

    h1 {
      background-color: $header_background;
      padding: 10px 0 10px 10px;
      font-size: 21px;
      border-bottom: $common-border;
    }
    ul#members{
      li.membership {
        @include cf;
        height: 50px;
        border-bottom: $common-border;
        .avatar {
          display: inline-block;
          margin: 5px 10px;
          width: 40px;
          height: 40px;
        }
        .name {
          display: inline-block;
          vertical-align: top;
          margin: 19px 0 0 10px;
          font-family: $common-helvetica;
          font-size: 18px;
        }
        .role {
          float: right;
          margin: 10px 10px 0 0 ;
          padding: 5px;
          font-family: $common-helvetica;
          font-size: 18px;
          border: $common-border;
          border-radius: 2px;
        }
        .edit_membership {
          float: right;
          margin: 10px 10px 0 0;
          .membership-role {
            margin-top: 4px;
            background: white;
            font-family: $common-helvetica;
            font-size: 18px;
            border: $common-border;
            border-radius: 2px;
          }
          input {
            display: none;
          }
        }
        .remove-member-btn {
          float: right;
          margin: 10px 10px 0 0;
          padding: 5px;
          font-size: 18px;
          color: white;
          background: gray;
          &:hover {
            background: red;
          }
        }
      }
    }

    #new_membership {
      h2 {
        padding: 10px;
        background-color: $header_background;
        font-size: 18px;
        border-bottom: $common-border;
      }
      p {
        margin: 10px 0 0 10px;
      }
      #membership_user_id {
        margin: 5px 5px 10px 10px;
        font-size: 18px;
      }
      #membership_role {
        margin: 2px 10px;
        background: white;
        font-family: $common-helvetica;
        font-size: 18px;
        border: $common-border;
        border-radius: 2px;
      }
      #add-btn {
        margin-left: 20px;
        font-size: 16px;
      }
    }
  }
}
