@import "mixins/clearfix.css.scss";
@import "mixins/variables.css.scss";

#index {
  $white_border: 1px solid white;
  $gray_border: 1px solid $common-dark-gray;
  $featured_projects_color: #63c5fb;
  $reciped_projects_color: #e6f9ff;

  font-family: $common-novelsans;
  margin-top: -35px;
  width: 100%;
  background-color: $featured_projects_color;

  #splash-wrapper {
    background: asset-url("background.jpg") no-repeat;
    background-size: cover;
    background-color: $common-basic-color;
    border-bottom: 2px solid white;
    .container {
      margin: 0 auto;
      width: $content_width;
      height: 310px;
      padding: 230px 0 60px;
      .text {
        margin: 0 auto;
        width: 830px;
        height: 100px;
        color: white;
        line-height: 1.2;
        .main-copy {
          width: 830px;
          font-size: 50px;
          font-weight: normal;
        }
        .sub-copy {
          margin: 20px auto;
          width: 490px;
          height: auto;
          font-size: 20px;
        }
      }
      .sign-up {
        margin: 10px auto;
        width: 830px;
        text-align: right;
      }
    }
  }

  .projects-wrapper {
    width: 100%;

    .container {
      @include cf;
      width: 960px;
      margin: 0 auto;
      padding-top: 50px;

      .title {
        margin: 0px auto 30px;
        width: 440px;
        font-size: 30px;
        font-weight: normal;
        line-height: 1.2;
      }

      #featured-projects {
        width: 100%;
        .project {
          $figure_width: 280px;
          margin-top: 10px;
          width: $figure_width;
          height: 480px;
          padding-left: 15px;
          border-left: 2px solid white;
          .header {
            position: relative;
            .thumb-wrapper {
              max-width: $figure_width;
              width: $figure_width;
              margin: 0;
              overflow: hidden;
              .thumb {
                width: 100%;
                border-radius: 5px 5px 0 0;
              }
            }
            .user {
              position: absolute;
              top: 10px;
              right: 10px;
              .icon {
                max-width: 40px;
                max-height: 40px;
                border-radius: 40px;
                border: 2px solid white;
              }
            }
            .title-large {
              position: relative;
              margin: 0px 10px 5px;
              width: $figure_width - 20px;
              padding-top: 10px;
              font-family: $common-helvetica;
              font-size: 45px;
              line-height: 50px;
              .block {
                display: block;
                word-wrap: break-word;
              }
            }
          }

          .inner {
            $inner_padding: 10px;
            width: $figure_width - $inner_padding * 2;
            padding: $inner_padding;
            .title-small {
              min-height: 55px;
              font-size: 18px;
              line-height: 1.5;
            }
            .spacer {
              display: block;
              width: 100%;
              height: 65px;
            }
            .description {
              margin-bottom: 5px;
              font-size: 14px;
              line-height: 22px;
              color: $common-dark-gray;
            }
            .status {
              display: none;
            }
          }
        }
      }


      #searched-projects, #reciped-projects {
        width: 100%;
        .project {
          $figure_width: 300px;
          width: $figure_width;
          background: white;
          border-radius: 5px;
          .header {
            position: relative;
            .thumb-wrapper {
              max-width: $figure_width;
              width: $figure_width;
              margin: 0;
              overflow: hidden;
              .thumb {
                width: 100%;
                border-radius: 5px 5px 0 0;
              }
            }
            .user {
              position: absolute;
              top: 10px;
              right: 10px;
              .icon {
                max-width: 40px;
                max-height: 40px;
                border-radius: 40px;
                border: 2px solid white;
              }
            }
            .title-large {
              position: relative;
              margin: 0px 10px 5px;
              width: $figure_width - 20px;
              padding-top: 10px;
              font-family: $common-helvetica;
              font-size: 45px;
              line-height: 50px;
              .block {
                display: block;
                word-wrap: break-word;
              }
            }
          }

          .inner {
            $inner_padding: 10px;
            width: $figure_width - $inner_padding * 2;
            padding: $inner_padding;
            .title-small {
              min-height: 55px;
              font-size: 18px;
              line-height: 1.5;
            }
            .spacer {
              display: block;
              width: 100%;
              height: 65px;
            }
            .description {
              margin-bottom: 5px;
              font-size: 14px;
              line-height: 22px;
              color: $common-dark-gray;
            }
            .status {
              margin-bottom: 5px;
              line-height: 18px;
              font-size: 14px;
              .recipes, .notes {
                display: inline-block;
                margin-bottom: 5px;
              }
              .notes {
                margin-left: 5px;
              }
              .starred {
                display: inline-block;
                position: absolute;
                right: 10px;
                bottom: 10px;
                margin : 10px;
                .icon {
                  display: inline-block;
                  vertical-align: middle;
                  width: 26px;
                  height: 26px;
                }
                .count {
                  display: inline-block;
                  vertical-align: bottom;
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }

      .more {
        margin: 20px 20px 0 0;
        .more-projects {
          display: block;
          padding: 10px 10px 5px;
          width: 140px;
          height: 20px;
          background: $common-basic-color;
          color: #FFF;
          font-size: 17.5px;
          border-radius: 5px;
        }
      }

    }
  }

  #featured {
    padding-bottom: 40px;
    .title {
      margin: 0;
      font-size: 14px;
      text-decoration: underline;
    }
  }

  .search-projects {
    width: 100%;
    .inner {
      margin: 0 auto;
      width: $content_width;
      height: 110px;
      padding-bottom: 30px;
      .search-icon-wrapper {
        display: inline-block;
        width: 80px;
        height: 100%;
      }
      .search-project {
        display: inline-block;
        width: 300px;
        height: 100%;
        vertical-align: top;
        padding-left: 15px;
        border-left: 2px solid white;
        .title {
          margin-top: 10px;
          color: white;
          font-size: 30px;
          line-height: 1.2;
          font-weight: normal;
        }
        #search-box {
          margin-top: 10px;
          width: 240px;
          height: 30px;
          #search-form {
            padding-left: 10px;
            width: 270px;
            height: 30px;
            font-family: "novelsans-semibold";
            font-size: 15px;
            border: none;
            border-radius: 5px;
          }
        }
      }
      .tag-search {
        display: inline-block;
        width: 510px;
        height: 100%;
        vertical-align: top;
        padding-left: 15px;
        border-left: 2px solid white;
        .title {
          margin-top: 10px;
          color: white;
          font-size: 30px;
          line-height: 1.2;
          font-weight: normal;
        }
        .tags {
          margin: 10px 0 0 5px;
          font-size: 14px;
          line-height: 19px;
          .tag {
            display: inline;
            &:after {
              content: ",";
            }
            &:before {
              content: " "
            }
            &:last-child:after {
              content: "";
            }
          }
        }
      }
    }
  }

  #reciped {
    padding-bottom: 75px;
    background-color: $reciped_projects_color;
  }

  #searched {
    background: #e6f9ff;
    padding-bottom: 75px;
    .title {
      margin: 0px auto 30px;
      width: 280px;
      font-size: 30px;
      font-weight: normal;
      line-height: 1.2;
    }
  }


  .pagination {
    margin-top: 30px;
    font-size: 17.5px;
    color: #FFF;
    span {
      padding: 5px 2px 2px 5px;
      margin-right: 5px;
      background: $common-basic-color;
      a {
        color: #FFF;
      }
    }
    .current {
      background: none;
      color: $common-basic-color;
    }
    .first {
      border-radius: 5px 0 0 5px;
    }
    .last {
      border-radius: 0 5px 5px 0;
    }

  }

}
