@import "mixins/clearfix.css.scss";
@import "mixins/variables.css.scss";

#index {
  $white_border: 1px solid white;
  $gray_border: 1px solid $common-dark-gray;
  margin-top: -35px;
  width: 100%;
  #splash-wrapper {
    background: asset-url("fab9_back_sheets.png") no-repeat;
    background-size: cover;
    background-color: $common-basic-color;
    .container {
      @include cf;
      padding: 120px 0 60px;
      width: $content_width;
      height: 420px;
      margin: 0 auto;
      .text {
        margin-left: 90px;
        width: 540px;
        height: 420px;
        float: left;
        h1 {
          padding: 20px 0 5px;
          width: 340px;
          line-height: 63px;
          font-family: $common-helvetica;
          font-size: 73px;
          font-weight: 300;
          color: white;
        }
        .horizontal-border {
          width: 210px;
          height: 0px;
          border-bottom: $gray_border;
        }
        p {
          width: 540px;
          height: auto;
          margin-top: 20px;
          line-height: 22px;
          font-size: 13px;
          font-weight: 700;
        }
      }
      .scaffold {
        float: left;
        width: 320px;
        h2 {
          padding-top: 10px;
          width: 211px;
          color: $common-dark-gray;
          line-height: 33px;
          font-family: $common-helvetica;
          font-size: 30px;
          font-weight: 700;
        }
        .sign-up {
          @include cf;
          margin-left: -60px;
          width: 380px;
          .arrow {
            float: left;
            margin-top: 30px;
            width: 60px;
            height: 60px;
          }
          .inner {
            float: left;
            border-left: $white_border;
            padding-left: 15px;
            margin: 30px 20px;
            p {
              margin-top: 5px;
              width: 240px;
              height: auto;
              line-height: 22px;
              font-size: 12px;
            }
          }
        }
        .search-project {
          @include cf;
          margin-left: -60px;
          width: 400px;
          .arrow {
            float: left;
            width: 60px;
            height: 60px;
          }
          .inner {
            float: left;
            border-left: $white_border;
            padding-left: 15px;
            margin: 0px 0px 30px 20px;
            #search-box {
              #search-form {
                margin: 5px 0 2px;
                width: 285px;
                height: 26px;
                font-size: 12px;
                font-family: $common-verdana;
              }
            }
          }
        }
      }
    }
  }
  #ongoing {
    padding-bottom: 75px;
  }
  #reciped {
    background: white;
    padding-bottom: 75px;
  }
  .projects-wrapper {
    width: 100%;
    .container {
      @include cf;
      width: 960px;
      margin: 0 auto;
      padding-top: 50px;
      .left {
        @include cf;
        float: left;
        width: 150px;
        text-align: right;
        h2 {
          margin-bottom: 40px;
          line-height: 40px;
          font-family: $common-helvetica;
          font-size: 35px;
          font-weight: 700;
          color: black;
        }
      }
      .right {
        @include cf;
        float: left;
        margin-left: $common-margin * 2;
        width: 780px;
        #ongoing-projects, #reciped-projects {
          .project {
            width: 220px;
            background: $common-light-gray;
            .inner {
              margin: 5px 5px 20px;
              .image {
                display: block;
                margin-bottom: $common-margin;
                width: 210px;
                height: 158px;
                background-size: contain;
                background: no-repeat top center;
              }
              .title {
                margin-bottom: 5px;
                line-height: 24px;
                font-size: 17px;
              }
              .description {
                margin-bottom: 5px;
                line-height: 18px;
                font-size: 12px;
              }
              .status {
                margin-bottom: 5px;
                font-size: 10px;
                font-family: $common-verdana;
                .user {
                  display: inline-block;
                  margin : 5px;
                  border-right: $gray_border;
                  .icon {
                    display: inline-block;
                    vertical-align: middle;
                    max-width: 20px;
                    max-height: 20px;
                  }
                  .name {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 5px;
                  }
                }
                .starred {
                  display: inline-block;
                  margin : 5px;
                  .icon {
                    display: inline-block;
                    vertical-align: middle;
                    max-width: 20px;
                    max-height: 20px;
                  }
                  .count {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 5px;
                  }
                }
              }
              .meta {
                line-height: 18px;
                font-size: 12px;
                font-family: $common-verdana;
                .notes {
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
        .more {
          @include cf;
          float: right;
          margin-top: -80px;
          bottom: 75px;
          width: 80px;
          text-align: right;
          p {
            font-family: $common-helvetica;
            font-size: 12px;
          }
        }
      }
    }
  }
}
