li id="tag-#{tag.id}" class="tag"
  = link_to "x", project_tag_path(id: tag.id, project_id: project.name, owner_name: project.owner.name), method: :delete, remote: true, class: "tag-delete-btn"
  = tag.name
