@import "mixins/clearfix.css.scss";
#content, main, #recipes-utils {
  @include cf;
}
main { 
  width: 720px;
  float: left;
}
#recipes-utils { 
  width: 240px;
  float: left;
}
.row {
  @include cf;
  & > * {
    float: left;
  }
}
