#basic-information {
  height: auto;
  h1 {
    margin-top: 20px;
    height: 40px;
    font-size: 36px;
    font-weight: bold;
  }
  .visual {
    margin: auto;
    width: 480px;
    height: 360px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .description {
    padding: 0 20px 0;
    width: 200px;
    height: 360px;
    font-size: 14px;
    h1 {
      margin: 5px 0 0 0;
      padding: 0;
      font-size: 24px;
      font-weight: bold;
    }
    .text {
      width: 190px;
      height: 320px;
      word-break: break-all;
    }
  }
}
