@import "mixins/variables.css.scss";
@import "mixins/clearfix.css.scss";
#content, main, #recipes-utils {
  @include cf;
}
main { 
  width: $recipe_main_width;
  float: left;
  section {
    h1 {
      margin-bottom: 20px;
      height: 40px;
      line-height: 1.5em;
      font-size: 36px;
      font-weight: bold;
    }
  }
}
#recipes-utils { 
  width: 240px;
  float: left;
}
