form.edit_recipe {
  #making {
    & > .fields {
      min-height: 160px;
      background: #efefef;
      margin-bottom: 4px;
      .fields.dummy {
        min-height: 4px;
        background: #ccc;
      }
      .ways {
        margin-left: 200px;
      }
    }
  }
}
