@import "mixins/clearfix.css.scss";
#video-form {
  display: none;
}
form.edit_recipe {
  #making {
    & > .fields {
      min-height: 160px;
      background: #efefef;
      border: 1px solid #000;
      margin-bottom: 4px;
      padding: 12px;
      cursor: all-scroll;
      .fields.dummy {
        height: 1px;
        opacity: 0;
      }
      .ways {
        margin-left: 200px;
        .item {
          padding: 12px;
          border: 1px solid #000;
          background-color: #f9f9f9;
          position: relative;
        }
      }
      .item {
        @include cf;
        margin-bottom: 8px;
        input,
        textarea,
        a {
          float: left;
          margin-left: 10px;
        }
        img {
          float: left;
          width: 50px;
          height: 50px;
        }
        p.remove-way {
          text-align: right;
          a {
            float: none;
          }
        }
      }
    }
  }
}

input#recipe_youtube_url {
  width: 580px;
  font-size: 12px;
}
