@import "mixins/clearfix.css.scss";
@import "mixins/box-sizing.css.scss";
main#recipes-show {
  #making {
    width: 960px;
    padding: 10px 0px;
    min-height: 100px;
    border-bottom: solid 1px black;
    @include content-box;
    li.status {
      .photo {
        float: left;
        margin: 0 20px 2px 0;
        a.item-photo {
          display: block;
          width: 240px;
          height: 180px;
          background-size: cover;
          background-position: center;
        }
      }
      .summary {
        width: 320px;
        height: 180px;
        word-break: break-all;
        .description {
          margin-top: 10px;
        }
      }
      .edit-form-wrap {
        float: left;
      }
      @include cf;
      .status-fields {
        @include cf;
        .summary {
          float: left;
          .toggle-star-btn {
            font-size: 21px;
          }
        }
      }
      &:first-child {
        min-height: 180px;
      }
      &:not(:first-child) {
        min-height: 180px;
      }
      &:last-child {
        .ways {
          display: none;
        }
      }

      .ways {
        @include cf;
        width: 100%;
        margin-top: 10px;
        .add-form,
        .edit-form {
          display: none;
        }
        .arrow {
          float: left;
          width: 240px;
          height: 200px;
          margin-right: 40px;
          position: center;
          background-image: asset-url("arrow.png");
          background-repeat: no-repeat;
          background-size: 45px 200px;
          background-position: 90px 0;
          position: relative;
          .add-way {
            position: absolute;
            top: 50%;
            right: 0;
            a {
              font-size: 18px;
            }
          }
        }
        ul {
          @include cf;
        }
        li.way {
          @include cf;
          float: left;
          width: 480px;
          height: 180px;
          margin: 0 20px 20px 0;
          .summary {
            width: 100%;
            max-height: 156px;
            word-break: break-all;
            .description {
              margin: 10px;
              width: 100%;
              height: 115px;
              text-align: left;
              font-size: 16px;
            }
          }
          .toggle-star-btn {
            font-size: 21px;
          }
          .edit-btn, .delete-btn {
            font-size: 14px;
          }
          &:not(:first-child) {
            width: 80px;
            height: 100px;
            margin: 0 10px 0 0;
            .photo {
              margin: 0;
            }
            .summary {
              width: 100%;
              max-height: 10px;
              word-break: break-all;
              p.star {
                text-align: right;
                width: 100%;
              }
              .description {
                display: none;
              }
            }
            a.item-photo {
              width: 80px;
              max-height: 60px;
            }
            .toggle-star-btn {
              font-size: 13px;
            }
            .edit-btn, .delete-btn {
              display: none;
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}

#markup-form {
  .container {
    margin-left: 10px;
    margin-top: 14px;

    label + * {
      position: absolute;
      left: 110px
    }

    input[type=text] {
      border: 1px solid gray;
      border-radius: 10px;
      width: 300px;
      padding-left: 6px;
    }

    input[type=radio] {
      margin-top: 2px;
      margin-left: 10px;
    }

    span {
      margin-left: 20px;
    }
  }
  .image {
    height: 98px;
    input {
      display: none;
    }
    img {
      width: 100px;
      height: 100px;
      position: absolute;
      left: 204px;
    }
  }


  .link {
    margin-top: 14px;
    margin-left: 10px;
  }

  .link-selection {
    margin-left: 20px;
  }
  .center {
    margin-top: 14px;
    text-align: center;
    margin-left: 16px;
  }

  hr {
    border: 1px solid #ddd;
    margin-top: 16px;
  }
}
