#recipes-show,
#recipes-edit,
#tinymce {
  .material {
    color: pink;
    font-weight: bold;
  }

  .tool {
    color: green;
    font-weight: bold;
  }

  .blueprint {
    color: orange;
    font-weight: bold;
  }

  .mce-edit-area iframe {
    background-color: white;
  }
}

#recipes-show .description,
#tinymce {
  font-family: helvetica, sans-serif;
  font-size: 16px;

  ul {
    list-style-type: disc;
    padding: 0px 0px 0px 22px;
  }

  ol {
    list-style-type: decimal;
    padding: 0px 0px 0px 25px;
  }

}

#markup-form {
  .form-field {
    border-top: 1px solid gray;
    padding-top: 10px;
  }

  .form-field:first-child {
    border: none;
    padding: 0;
  }
}