#recipes-new {
  margin-top:40px;
  #basic-information {
    float:left;
    display: block;
    width: 720px;
    height: auto;
    input#recipe_title {
      display:block;
      width: 100%;
      height: 40px;
      font-size: 32px;
      font-weight: bold;
    }
    input#recipe_name {
      display: none;
    }
    .hidden {
      visibility: hidden;
    }
    .visual {
      float: left;
      margin: auto;
      width: 480px;
      height: 360px;
      font-size: 24px;
      text-align: center;
      background-size: contain;
      background-repeat: no-repeat;
      #photo-upload-btn, #input-url-form {
        display: block;
        margin: 35px auto;
        width: 240px;
        height: 100px;
        font-size: 24px;
        font-weight: 700;
        line-height: 100px;
        text-align: center;
        background: #FFF;
      }
    }
    .description {
      float: right;
      padding: 5px 20px 0;
      width: 200px;
      height: 360px;
      font-size: 14px;
      h1 {
        margin: 5px 0 0 0;
        padding: 0;
        font-size: 24px;
        font-weight: bold;
      }
      textarea#recipe_description {
        margin-top: 10px;
        width: 190px;
        height: 320px;
      }
    }
  }

  #utils {
    float: right;
    width: 240px;
    height: 120px;
    background: #EEE;
    #tooltips {
      @include cf;
      width: 100%;
      height: 120px;
      #save-btn {
        float: left;
        margin: 0;
        width: 120px;
        height: 120px;
        background-image: url("http://placehold.it/120x120");
      }
      #delete-btn {
        float: left;
        margin: 0;
        width: 120px;
        height: 120px;
        background-image: url("http://placehold.it/120x120");
      }
    }

  }
}
