@import "mixins/clearfix.css.scss";
#recipes-show {

  #basic-information {
    float:left;
    display: block;
    width: 720px;
    height: auto;
    h1 {
      display:block;
      margin-top: 20px;
      width: 100%;
      height: 40px;
      font-size: 36px;
      font-weight: bold;
    }
    .visual {
      float: left;
      margin: auto;
      width: 480px;
      height: 360px;
      background-image: url("http://placehold.it/480x360");
    }
    .description {
      float: right;
      padding: 5px 20px 0 20px;
    	width: 200px;
    	height: 360px;
      font-size: 14px;
      h1 {
        margin: 5px 0 0 0;
        padding: 0;
        font-size: 24px;
        font-weight: bold;
      }
      .text {
        width: 190px;
        height: 320px;
        word-break: break-all;
      }
    }
  }

  #utils {
    float: right;
  	width: 240px;
  	height: 800px;
    background: #EEE;
    #tooltips {
      @include cf;
      width: 100%;
      height: 120px;
      #slide-show-button {
        float: left;
        margin: 0;
        width: 120px;
        height: 120px;
        background-image: url("http://placehold.it/120x120");
      }
      #fork-button {
        float: left;
        margin: 0;
        width: 120px;
        height: 120px;
        background-image: url("http://placehold.it/120x120");
      }
    }
    #user-id {
      @include cf;
      padding: 20px 20px;
      width: 100%;
      height: 100px;
      .thumbnail {
        @include cf;
        float: left;
        width: 40px;
        height: 40px;
        background-image: url("http://placehold.it/40x40");
        img {
          margin:0;
          max-width: 100%;
          height: auto;
        }
      }
      .screen-name {
        @include cf;
        float: left;
        margin: 15px 10px;
        width: 160px;
        height: 30px;
        font-size: 18px;
      }
      #created-datetime {
        display: block;
        margin: 15px 0;
        width: 100%;
        height: 24px;
      }
      #last-updated-datetime {
        display: block;
        margin-top: 40px;
        width: 100%;
        height: 24px;
      }
    }
    #tool-options {
      padding: 20px;
      width: 100%;
      height: auto;
      min-height: 40px;
      h1 {
        font-size: 24px;
        font-weight: bold;
      }
    }
    #tags {
      padding: 20px;
      width: 100%;
      height: auto;
      min-height: 40px;
      #tag-list {
        margin: 10px 0;
        .tag {
          border-radius: 10px;
          background-color: #ccc;
          display: inline-block;
          padding: 2px 4px;
          margin: 0 4px;
        }
        .tag-delete-btn {
          background: #fff;
          border-radius: 50%;
          padding: 0 4px;
          margin-right: 4px;
        }
      }
      h1 {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }

  #materials,
  #tools {
    float: left;
    display:block;
    padding: 30px 20px;
    width: 680px;
    height: auto;
    min-height: 100px;
    h1 {
      margin-bottom: 20px;
      height: 40px;
      line-height: 1.5em;
      font-size: 36px;
      font-weight: bold;
    }
    .item-list {
      width: 100%;
      li {
        margin-top: 20px;
        width: 100%;
        height: 180px;
        span.name-field {
          float: right;
          margin: 20px 20px 10px 40px;
          width: 380px;
          text-align: left;
          font-size: 18px;
        }
        span.description-field {
          float: right;
          margin: 20px 20px 10px 40px;
          width: 380px;
          text-align: left;
          font-size: 14px;
        }
        span.photo-field {
          float: left;
          margin-top: -48px;
          width: 240px;
          height: auto;
          min-height: 180px;
          background-image: url("http://placehold.it/240x180");
          img {
            position: center;
            max-width: 100%;
            height: auto;
          }
        }
        .edit-form-wrap {
          float: right;
          margin: 20px 20px 10px 40px;
          width: 380px;
          text-align: left;
          font-size: 14px;
        }
      }
    }
    .add-form-wrap {
      display: block;
      clear: both;
      margin: 40px 20px 10px 40px;
      width: 100%;
      text-align: left;
      font-size: 24px;
      font-weight: 900;
    }
  }
  #making {
    float: left;
    display:block;
    padding: 30px 20px;
    width: 920px;
    height: auto;
    min-height: 100px;
    h1 {
      margin-bottom: 20px;
      height: 40px;
      line-height: 1.5em;
      font-size: 36px;
      font-weight: bold;
    }
    li {
      list-style: none;
    }
    #status-list {
      width: 100%;
      li.status {
        @include cf;
        display: block;
        margin-bottom: 20px;
        width: 960px;
        height: auto;
        &:first-child{
          min-height: 180px;
        }
        &:not(:first-child) {
          min-height: 180px;
        }
        span.index-field {
          float: right;
          margin-right: 40px;
          width: 640px;
          font-size: 18px;
          font-weight: 700;
        }
        span.description-field {
          display:block;
          float: right;
          margin: 10px 40px 10px 40px;
          width: 640px;
          text-align: left;
          font-size: 14px;
        }
        span.photo-field {
          @include cf;
          display:block;
          float: left;
          margin-top: -20px;
          width: 240px;
          height: auto;
          min-height: 180px;
          background-image: url("http://placehold.it/240x180");
          img{
            position: center;
            max-width: 100%;
            height: auto;
          }
        }
        .edit-form-wrap {
          display:block;
          float: right;
          margin: 20px 20px 10px 40px;
          width: 620px;
          text-align: left;
          font-size: 14px;
        }
      }
      ul.way-list {
        float: right;
        width: 640px;
        li.way {
          display:block;
          margin-bottom: 20px;
          height: 180px;
          span.name-field {
            float: right;
            margin: 20px 20px 10px 40px;
            width: 340px;
            text-align: left;
            font-size: 18px;
          }
          span.description-field {
            float: right;
            margin: 20px 20px 10px 40px;
            width: 340px;
            text-align: left;
            font-size: 14px;
          }
          span.photo-field {
            float: left;
            width: 240px;
            height: auto;
            img {
              position: center;
              width: 100%;
              height: auto;
            }
          }
          .edit-form-wrap {
            float: right;
            margin: 20px 20px 10px 40px;
            width: 340px;
            text-align: left;
            font-size: 14px;
          }
        }
      }
      .add-form-wrap {
        width: 140px;
        height: 125px;
        padding: 100px 0px 0px 140px;
        position: center;
        background-image: asset-url("arrow.png");
        background-repeat: no-repeat;
        background-size: 45px 200px;
        background-position: 90px 0;
        .add-btn:before {
          content: "+ ";
          font-size: 36px;
          font-weight: 700;
        }
        .add-btn {
          font-size: 24px;
          font-weight: 500;
        }
      }
    }
    .add-btn:before {
      content: "+ ";
      font-size: 36px;
      font-weight: 700;
    }
    .add-btn {
      font-size: 24px;
      font-weight: 500;
    }
  }

  .add-form,
  .edit-form {
    display: none;
  }
}
