@import "mixins/variables.css.scss";
@import "mixins/clearfix.css.scss";
@import "mixins/rows.css.scss";
main {
  #tools,
  #materials {
    @include cf;
    .add-form,
    .edit-form {
      display: none;
    }
    ul {
      @include spacing-row($recipe_main_width, 40px, 2);
    }
    li {
      @include cf;
      margin-bottom: 8px;
      .summary {
        float: left;
      }
      .photo {
        float: left;
        img {
          width: 80px;
          max-height: 80px;
        }
      }
    }
  }
}
