#recipes-show {
  @include cf;
  #project-summary {
    @include cf;
    margin-bottom: 30px;
  }
  #tools,
  #materials {
    @include cf;
    .add-form,
    .edit-form {
      display: none;
    }
    ul {
      @include spacing-row($recipe_main_width, 40px, 2);
    }
    li {
      @include cf;
      margin-bottom: 8px;
      .summary {
        float: left;
      }
      .photo {
        float: left;
        img {
          width: 80px;
          max-height: 80px;
        }
      }
    }
  }
  #making {
    width: 960px;
    padding: 30px 20px 30px 0;
    min-height: 100px;
    li {
      list-style: none;
    }
  }
}
