@import "mixins/clearfix.css.scss";
main#recipes-show {
  li.status {
    @include cf;
    .status-fields {
      @include cf;
      .photo {
        float: left;
      }
      .summary {
        float: left;
        margin-left: 20px;
      }
    }
    &:first-child{
      min-height: 180px;
    }
    &:not(:first-child) {
      min-height: 180px;
    }
  }
}
