@import "mixins/clearfix.css.scss";
@import "mixins/rows.css.scss";
@import "mixins/box-sizing.css.scss";

$popup-width: 360px;

#fork-destinations {
  @include spacing-row($popup-width, 20px, 3);
  width: $popup-width;
  display: none;
  .fork-destination {
    .dest-name {
      margin-top: 10px;
      margin-bottom: 4px;
      white-space: nowrap;
      overflow: hidden;
    }
    .fork-btn {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
      background-size: cover;
      background-position: center;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
#recipes-utils,
#posts-utils {
  float: left;
  width: 240px;
  min-height: 442px;
  border: solid 1px black;
  border-left: none;
  @include border-box;

  #tooltips {
    height: 118px;
    @include border-box;
    #slide-show-button,
    #fork-button {
      display: inline-block;
      width: 118px;
      height: 118px;
      a {
        display: block;
        height: 100%;
        width: 100%;
      }
    }
    #slide-show-button {
      background-image: asset-url("slideshow.png");
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      cursor: pointer;
    }
    #fork-button {
      background-image: asset-url("fork.png");
      border-bottom: 1px solid #000;
    }
  }
  #user-info {
    @include cf;
    padding: 20px 20px;
    width: 200px;
    height: 100px;
    .owner {
      @include cf;
      width: 240px;
      .thumbnail {
        float: left;
        width: 40px;
        height: 40px;
        img {
          margin: 0;
          max-width: 100%;
          height: auto;
        }
      }
      .screen-name {
        float: left;
        margin: 15px 10px;
        width: 160px;
        height: 30px;
        font-size: 18px;
      }
    }
    #add-collaborator-btn {
      display: inline-block;
      margin: 0 0 20px 0;
    }
    .timestamps {
      width: 240px;
      #created-datetime {
        display: block;
        width: 100%;
        height: 24px;
        font-size: 12px;
      }
      #last-updated-datetime {
        display: block;
        width: 100%;
        height: 24px;
        font-size: 12px;
      }
    }
  }
  #tool-options {
    padding: 20px;
    width: 100%;
    height: auto;
    min-height: 40px;
    h1 {
      font-size: 24px;
      font-weight: bold;
    }
  }
  #tags {
    padding: 20px;
    width: 100%;
    height: auto;
    min-height: 40px;
    #tag-list {
      margin: 10px 0;
      .tag {
        border-radius: 10px;
        background-color: #ccc;
        display: inline-block;
        padding: 2px 4px;
        margin: 0 4px;
      }
      .tag-delete-btn {
        background: #fff;
        border-radius: 50%;
        padding: 0 4px;
        margin-right: 4px;
      }
    }
    h1 {
      font-size: 24px;
      font-weight: bold;
    }
  }
}
