$icons-sprite-dimensions: true;
@import "mixins/variables";
@import "icons/*.png";
@include all-icons-sprites;

body {
  background-color: $common-basic-color;
}
#about {

  #lang {
    position: absolute;
    right: 30px;
    top: 32px;
    z-index: 2147483647;
    font-weight: normal;
    font-size: 12px;
    .lang {
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
      &.is-selected {
        cursor: default;
        color: $common-quiet-text-color;
        &:hover {
          opacity: 1.0;
        }
      }
    }
  }

  .lang-en {
    display: block;
  }
  .lang-jp {
    display: none;
  }

  .headers{
    text-align: center;
    font-family: $common-novelsans-semibold;
    h1 {
      margin: 45px 0 20px;
      line-height: 1.75;
      font-size: 50px;
      color: $common-title-text-color;
    }
    h2 {
      font-size: 20px;
      font-weight: normal;
      color: $common-text-color;
    }
  }
  .main{
    font-family: $common-verdana;
    padding: 30px 25px;
    width: 910px;

    #abstract, #functions, #features {
      padding: 25px 0;
    }
    #abstract, #functions {
      border-bottom: 1px solid $common-basic-color;
    }
    .abstract {
      @include icons-sprite(abstract);
    }
    .functions {
      @include icons-sprite(functions);
    }
    .features {
      @include icons-sprite(features);
    }

    .left, .right {
      display: inline-block;
      position: relative;
      vertical-align: top;
    }
    .left {
      width: 360px;
      h2 {
        position: absolute;
        left: 0;
        top: 0;
        font-family: $common-novelsans-semibold;
        font-size: 20px;
      }
      .abstract {
        position: absolute;
        top: 20px;
        right: 15px;
      }
    }
    .right {
      margin-left: 25px;
      width: 525px;
      font-size: 14px;
    }
  }
}
