#about {
  background: white;
  margin-bottom: 100px;
  padding: 40px 100px 20px;
  line-height: 1.75em;

  h1 {
    margin-top: 20px;
  }

  #abstract, #functions, #features {
    margin: 20px 0;
  }

  #jp, #en {
    margin-top: 20px;
    margin-bottom: 100px;
  }
}
