#privacy {
  background: white;
  margin-bottom: 100px;
  padding: 40px 100px 20px;
  line-height: 1.75em;

  h1 {
    margin-top: 20px;
  }
  dt {
    margin-top: 15px;
    font-weight: 700;
  }
  ol {
    margin: 10px 0 0 20px;
  }
  ol[type="a"] {
    margin: 10px 0 0 20px;
  }
  ol[type="i"] {
    margin: 15px 0 15px 25px;
  }
  .sign {
    margin-top: 60px;
  }


  #jp, #en {
    margin-top: 20px;
    margin-bottom: 100px;
  }
}
