@import "mixins/variables.css.scss";

$first_column_width: 80px;
$first_column_padding_left: 10px;
$second_column_width: 560px;
$third_column_width: 310px;

$article_column_width: 870px;

$visual_width: 480px;
$summary_width: 240px;

$inactive_tab_background: $common-light-gray;
$active_tab_background: white;

$gray_border: 1px solid $common-dark-gray;
