@import "mixins/variables.css.scss";

$first_column_width: 70px;
$first_column_padding_left: 0px;
$second_column_width: 560px;
$third_column_width: 310px;

$article_column_width: 820px;

$visual_width: 480px;
$summary_width: 240px;

$inactive_tab_background: $common-light-gray;
$active_tab_background: white;

$gray_border: 1px solid $common-dark-gray;

$material_color: #23CE6A;
$tool_color: #F34D06;
$blueprint_color: #EA003C;
$attachment_color: #3BA3FE;