@import "mixins/clearfix.css.scss";
@import "mixins/clickable.css.scss";
@import "mixins/rows.css.scss";
@import "mixins/variables.css.scss";
@import "_project_variables.css.scss";

#link-to-origin {
  margin: -35px 0 35px;
  width: 100%;
  background: $common-charcoal-gray;
  .wrapper {
    margin: auto;
    width: 960px;
    height: 44px;
    .forked-icon {
      margin-top: 8px;
    }
    .link {
      position: absolute;
      margin-top: 16px;
      margin-left: 15px;
      font-family: $common-helvetica;
      font-weight: bold;
      font-size: 14px;
      color: white;
    }
  }
}

#basic-informations {
  @include cf;
  $margin_width: 70px;
  margin: 0 $margin-width 60px;
  width: 960px - $margin-width * 2;
  position: relative;

  .private-project {
    position: absolute;
    top: 5px;
    left: -60px;
    padding: 5px;
    height: 10px;
    color: white;
    font-family: $common-novelsans-semibold;
    font-size: 12px;
    background: $common-basic-color;
    border-radius: 5px;
  }

  .header {
    $height: 40px;
    min-height: $height;
    .title {
      margin: 0;
      width: 100%;
      height: auto;
      min-height: $height;
      font-family: $common-novelsans-light;
      font-size: 25px;
      font-weight: normal;
      line-height: 1.2;
      word-wrap: break-word;
    }
    .meta {
      font-family: $common-novelsans-semibold;
      font-size: 14px;
      line-height: 1.2;
      color: black;

      .left {
        display: inline-block;
        width: 630px;
        height: 70px;
        .dates {
          margin-bottom: 5px;
          .index {
            color: $common-gray;
          }
        }

        .line {
          margin-bottom: 5px;
          label {
            display: inline-block;
            color: $common-gray;
          }
          .tags {
            display: inline-block;
            .tag {
              display: inline-block;
              height: 25px;
              margin-left: 10px;
              a {
                color: black;
              }
              .delete-tag {
                display: inline-block;
                position: relative;
                top: -5px;
                margin-left: 0px;
                width: 9px;
                height: 9px;
                background: asset-url("delete_tag.png") no-repeat;
                background-size: contain;
                cursor: pointer;
              }
              .delete-tag:not(.mine) {
                display: none;
              }
            }
          }
          #tag-form {
            display: none;
            .btn {
              border: none;
              background-color: $common-basic-color;
              color: white;
            }
          }
          #show-tag-form {
            display: inline-block;
            margin-left: 10px;
            background: $common-gray;
            color: white;
            .textfield {
              width: 120px;
            }
          }
        }
      }
      .right {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 190px;
        height: 70px;

        .license {
          display: inline-block;
          margin-top: 5px;
          img {
            width: 96px;
          }
        }
        .like {
          $star_size: 26px;
          display: inline-block;
          vertical-align: top;
          margin-top: 5px;
          position: absolute;
          right: 0;
          top: 5px;
          .like-button {
            display: inline-block;
            min-width: 25px;
            height: $star_size;
            background: asset-url("star.png") no-repeat;
            background-size: contain;
            padding-left: $star_size + 5px;
            cursor: pointer;
            font-size: 14px;
            line-height: 35px;
            text-align: right;
          }
          .like-button.liked {
            background: asset-url("starred.png") no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }

  .body {
    width: 100%;
    figure.visual {
      margin: 0;
      width: 100%;
      height: 460px;
      background-color: #E6E6E6;
      overflow: hidden;
      border: none;
      border-radius: 0px;
      box-shadow: none;
      img {
        @include clickable;
        width: 100%;
      }
      iframe {
        width: 100%;
        height: 100%;
      }
      ol.flex-control-paging {
        top: 10px;
        height: 10px;
        li>a {
          background: $common-basic-color;
          opacity: 0.5;
          &:hover {
            background: $common-basic-color;
            opacity: 0.7;
          }
          &.flex-active {
            background: $common-basic-color;
            opacity: 0.9;
          }
        }
      }
      .flex-direction-nav a:before {
        color: $common-basic-color;
      }
      .flex-prev, .flex-next {
        font-size: 0;
      }
      ol.flex-control-paging {
        li>a {
          background: $common-basic-color;
          opacity: 0.5;
          &:hover {
            background: $common-basic-color;
            opacity: 0.7;
          }
          &.flex-active {
            background: $common-basic-color;
            opacity: 0.9;
          }
        }
      }
      .flex-direction-nav a:before {
        color: $common-basic-color;
      }
      .flex-prev, .flex-next {
        top: 20px;
        height: 100%;
        font-size: 0;
      }
      .flex-prev:before {
        content: "<";
      }
      .flex-next:before {
        content: ">";
      }
    }
    figure.visual>img {
      width: 100%;
    }

    .members {
      display: inline-block;
      margin-top: 30px;
      width: 100%;
      .title {
        font-family: $common-novelsans-semibold;
        font-size: 14px;
        color: $common-gray;
        text-decoration: underline;
      }
      .collaborators {
        display: inline-block;
      }
      .owner, .collaborator {
        margin-top: 20px;
        display: inline-block;
        margin-right: 20px;
        .thumbnail {
          display: inline-block;
          width: 64px;
          height: 64px;
          img {
            border-radius: 64px;
            border: 4px solid white;
            margin: -4px;
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
      #add-collaborator-btn {
        display: inline-block;
        position: relative;
        top: 4px;
        margin: 0;
        padding: 0;
        width: 72px;
        height: 72px;
        border-radius: 72px;
        background: asset-url("add-member.png") no-repeat;
        background-size: contain;
      }
    }

    .description {
      margin-top: 30px;
      width: 100%;
      .title {
        font-family: $common-novelsans-semibold;
        font-size: 14px;
        color: $common-gray;
        text-decoration: underline;
      }
      .text {
        margin-top: 20px;
        width: 100%;
        font-size: 18px;
        line-height: 29px;
        word-break: break-all;
      }
    }
  }
}

#collaborators-index {
  display: none;
  background: white;
  width: 960px;
  .inner {
    margin: 20px;
    padding: 20px 0;

    h1 {
      margin-bottom: 10px;
      font-size: 24px;
    }
    h2 {
      margin-bottom: 10px;
      font-size: 16px;
    }
    #new_collaboration {
      margin-bottom: 20px;
      #s2id_user_name {
        margin-right: 10px;
      }
    }
    #owner, .collaboration {
      margin-bottom: 10px;
      .avatar {
        img {
          width: 30px;
        }
      }
      .name {
        position: relative;
        vertical-align: top;
        margin-left: 5px;
        top: 6px;
        height: 24px
      }
      .remove-collaboration-btn {
        vertical-align: top;
        margin-top: 3px;
        margin-left: 5px;
      }
    }
    #collaborations {
      margin-bottom: 20px;
    }

  }
}


$tool_size: 75px;

#project-edit-btn {
  position: absolute;
  top: 110px;
  right: 0;
  padding: 4px 8px 4px 0;
  width: $tool_size;
  height: $tool_size;
  border-radius: 5px 0 0 5px;
  background-repeat: no-repeat;
  background-color: $common-gray;
  background-image: asset-url("edit-project.png");
  background-position: 5px;
  &.forked-project-tools {
    top: 154px;
  }
}

.tools {
  position: fixed;
  top: 215px;
  right: 0;
  padding-left: 8px;
  width: $tool_size;
  border-radius: 5px 0 0 5px;
  background: white;
  &.forked-project-tools {
    top: 259px;
  }
  #slideshow-btn, #fork-btn, .order-change-btn, .order-commit-btn{
    display: block;
    width: $tool_size;
    height: $tool_size + 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    border-bottom: 1px solid $common-basic-color;
  }
  #slideshow-btn {
    background-image: asset-url("slideshow.png");
  }
  #fork-btn {
    height: $tool_size + 20px;
    background-image: asset-url("fork.png");
  }
  #card-order-tools {
    .order-change-btn {
      display: block;
      background-image: asset-url("change_order.png");
    }
    .order-commit-btn {
      display: none;
      background-image: asset-url("commit_order.png");
    }

    &.order-changing {
      .order-change-btn {
        display: none;
      }
      .order-commit-btn {
        display: block;
      }
    }
  }
  #recipe-cards-list {
    display: block;
    width: $tool_size;
    height: auto;
    cursor: pointer;
    .container {
      display: table;
      width: 25px;
      height: auto;
      margin: 25px auto;
      .selector-column {
        display: table-cell;
        vertical-align: top;
        width: 7px;
        .selector {
          display: block;
          margin-top: 1px;
          width: 0;
          height: 0;
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-left: 7px solid $common-basic-color;
        }
      }
      .index-column {
        display: table-cell;
        width: 10px;
        .state-link {
          display: block;
          margin-bottom: 5px;
          width: 10px;
          height: 10px;
          background-repeat: no-repeat;
          background-color: $common-basic-color;
        }
        .annotation-link {
          display: none;
          margin-bottom: 5px;
          width: 10px;
          height: 10px;
          background-repeat: no-repeat;
          background-color: $common-basic-color;
          border-radius: 10px;
          &.is-opened {
            display: block;
          }
        }
      }
    }
  }

  #fork-destinations {
    $popup_width: 360px;
    @include spacing-row($popup_width, 20px, 3);
    display: none;
    width: $popup_width;
    min-height: 442px;
    border: $common-border;
    border-left: none;
    .fork-destination {
      .dest-name {
        margin-top: $common-margin;
        margin-bottom: 4px;
        white-space: nowrap;
        overflow: hidden;
      }
      .fork-btn {
        @include clickable;
        margin-bottom: $common-margin;
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center;
      }
    }
  }
}


#tabs {
  margin-top: $common-margin * 4;
  margin-left: $first_column_width;
  height: 28px;
  a:nth-child(2) {
    margin-left: $common-margin * 2;
  }
  .tab {
    @include cf;
    display: inline-block;
    margin-top: 1px;
    padding-top: 7px;
    padding-left: $common-margin;
    width: 390px;
    height: 20px;
    background-color: $inactive_tab_background;
    font-family: $common-novelsans-semibold;
    border-radius: 5px 5px 0 0;
    .count {
      display: inline-block;
      margin-top: -2px;
      margin-right: 10px;
      float: right;
      height: 20px;
      vertical-align: top;
    }
    &.active {
      margin-top: 0;
      height: 21px;
      background-color: $active_tab_background;
    }
    p {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
