@import "mixins/clearfix.css.scss";
@import "mixins/rows.css.scss";
@import "mixins/variables.css.scss";
@import "_project_variables.css.scss";

#basic-informations {
  @include cf;
  $margin_width: 60px;
  .margin {
    float: left;
    margin-left: $common-margin;
    margin-right: $first_column_width - $margin_width;
    width: $margin_width;
    border-top: $common-border;
  }
  .header {
    $height: 40px;
    margin-bottom: $common-margin;
    min-height: $height;
    @include cf;
    .title {
      float: left;
      margin: 0;
      width: $second_column_width;
      height: auto;
      min-height: $height;
      font-size: 22px;
      line-height: 40px;
      word-wrap: break-word;
    }
    .like {
      $star_size: 26px;
      float: left;
      line-height: $star_size;
      vertical-align: top;
      .like-button {
        min-width: 100px;
        height: $star_size;
        background: asset-url("star.png") no-repeat;
        background-size: contain;
        padding-left: $star_size + 5px;
        cursor: pointer;
        font-size: 14px;
        font-family: $common-verdana;
        line-height: $star_size + 4px;
        display: inline-block;
      }
      .like-button.liked {
        background: asset-url("starred.png") no-repeat;
        background-size: contain;
      }

    }
  }

  .body {
    $visual_width: 380px;
    $tools_width: $second_column_width - $visual_width;
    $height: $visual_width / 4 * 3;
    height: $height;
    @include cf;
    figure.visual {
      float: left;
      margin: 0;
      width: $visual_width;
      height: $height;
      background-color: #E6E6E6;
      overflow: hidden;
      border: none;
      border-radius: 0px;
      box-shadow: none;
      iframe {
        width: 100%;
        height: 100%;
      }
      ol.flex-control-paging {
        top: 10px;
        li>a {
          background: $common-basic-color;
          opacity: 0.5;
          &:hover {
            background: $common-basic-color;
            opacity: 0.7;
          }
          &.flex-active {
            background: $common-basic-color;
            opacity: 0.9;
          }
        }
      }

      .flex-direction-nav a:before {
        color: $common-basic-color;
      }
      .flex-prev, .flex-next {
        font-size: 0;
      }
      ol.flex-control-paging {
        li>a {
          background: $common-basic-color;
          opacity: 0.5;
          &:hover {
            background: $common-basic-color;
            opacity: 0.7;
          }
          &.flex-active {
            background: $common-basic-color;
            opacity: 0.9;
          }
        }
      }

      .flex-direction-nav a:before {
        color: $common-basic-color;
      }
      .flex-prev, .flex-next {
        top: 20px;
        height: 100%;
        font-size: 0;
      }
    }
    .tools {
      float: left;
      $tool_size: 140px;
      width: $tools_width;
      $margin_left: ($tools_width - $tool_size) / 2;
      #slideshow-btn,
      #fork-btn {
        display: inline-block;
        margin-left: $margin_left;
        width: $tool_size;
        height: $tool_size;
        cursor: pointer;
        background-size: cover;
      }
      #slideshow-btn {
        margin-bottom: ($height - $tool_size * 2) - 4px;
        background-image: asset-url("slideshow.png");
      }
      #fork-btn {
        background-image: asset-url("fork.png");
      }
      #fork-destinations {
        $popup-width: 360px;
        @include spacing-row($popup-width, 20px, 3);
        width: $popup-width;
        display: none;
        min-height: 442px;
        border: $common-border;
        border-left: none;
        .fork-destination {
          .dest-name {
            margin-top: $common-margin;
            margin-bottom: 4px;
            white-space: nowrap;
            overflow: hidden;
          }
          .fork-btn {
            margin-bottom: $common-margin;
            width: 100px;
            height: 100px;
            background-size: cover;
            background-position: center;
            cursor: pointer;
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }

    .description {
      float: left;
      margin-right: $common-margin;
      $padding_top: 5px;
      $padding_bottom: 5px;
      padding-top: $padding_top;
      padding-bottom: $padding_bottom;
      width: $third_column_width - $common-margin;
      height: $height / 2 - $padding_top - $padding_bottom;
      max-height: $height / 2 - $padding_top - $padding_bottom;
      border-top: $common-border;
      border-bottom: $common-border;
      font-size: 12px;
      line-height: $common-line-height;
      overflow: hidden;
    }

    .meta {
      margin-right: $common-margin;
      font-size: 12px;
      @include cf;
      .left {
        float: left;
        padding-top: 5px;
        width: ($third_column_width - $common-margin) / 2;
      }
      .right {
        float: left;
        padding-top: 5px;
        width: ($third_column_width - $common-margin) / 2;
      }
      .private-project {
        display: inline-block;
        padding: 5px;
        margin: 5px 0 5px -2px;
        border-radius: 5px;
        background-color: red;
        color: white;
        text-align: center;
      }
      .timestamps {
        margin-bottom: 6px;
        font-family: $common-verdana;
        font-size: 9px;
        line-height: 16px;
        h2 {
          font-weight: 500;
        }
        .date {
          font-weight: 700;
        }
      }
      .collaborators {
        .owner, .collaborator {
          .thumbnail {
            display: inline-block;
            width: 30px;
            height: 30px;
            img {
              margin: 0;
              max-width: 100%;
              max-height: 100%;
            }
          }
          .screen-name {
            display: inline-block;
            vertical-align: middle;
            height: 30px;
          }
        }
        #add-collaborator-btn {
          display: inline-block;
          margin: 0 0 20px 0;
        }
      }
    }
  }
  .footer {
    margin-top: 10px;
    margin-left: $common-margin + $first_column_width;
    .line {
      label {
        display: inline-block;
        padding-left: 6px;
      }
      .tags {
        display: inline-block;
        .tag {
          display: inline-block;
          height: 25px;
          margin-left: 10px;
          a {
            color: $common-basic-color;
          }
          .delete-tag {
            position: relative;
            top: -5px;
            margin-left: 0px;
            color: red;
          } 
          .delete-tag:not(.mine) {
            display: none;
          }
        }
      }
    }
    #tag-form {
      display: none;
      .btn {
        border: none;
        background-color: $common-basic-color;
        color: white;        
      }
    }
    #show-tag-form {
      .textfield {
        width: 120px;
      }
    }
  }
  #edit-menu {
    margin-top: $common-margin;
    text-align: right;
    font-family: $common-verdana;
    font-size: 14px;
    line-height: 16px;
  }
}

#tabs {
  margin-top: $common-margin * 4;
  margin-left: $first_column_width + $common-margin;
  height: 28px;
  a:nth-child(2) {
    margin-left: $common-margin;
  }
  .tab {
    display: inline-block;
    margin-top: 1px;
    padding-top: 7px;
    padding-left: $common-margin;
    width: 380px;
    height: 20px;
    background-color: $inactive_tab_background;
    &.active {
      margin-top: 0;
      height: 21px;
      background-color: $active_tab_background;
    }
    p {
      font-family: $common-verdana;
      font-size: 14px;
      line-height: 16px;
    }
  }
}
