@import "mixins/variables";

#collaborators-index {
  background-color: $common-background-color;
  font-family: $common-novelsans-semibold;
  .inner {
    margin: 0 20px;
    padding: 20px 0;
    h1 {
      margin-bottom: 10px;
      font-size: 22px;
    }
    h2 {
      margin-bottom: 20px;
      font-size: 22px;
    }
    #new_collaboration {
      margin-bottom: 20px;
      #s2id_collaborator_name {
        margin: 10px 20px 20px 0px;
        padding: 1px 0;
        font-family: $common-novelsans-semibold;
        font-size: 14px;
        .select2-choice {
          background-color: $common-background-color;
        }
      }
    }
    .add-collaborator-btn {
      vertical-align: top;
      margin-top: 11px;
      height: 28px;
      color: $common-btn-text-color;
      background-color: $common-basic-color;
      border: none;
    }

    #owner, .collaboration {
      margin-bottom: 10px;
      width: 240px;
      display: inline-block;

      .avatar {
        img {
          width: 40px;
          height: 40px;
          border-radius: 40px;
          border: none;
        }
      }
      .name {
        position: relative;
        vertical-align: top;
        margin-left: 5px;
        top: 14px;
        height: 24px;
        font-size: 15px;
      }
      .remove-collaboration-btn {
        vertical-align: top;
        margin-top: 3px;
        margin-left: 5px;
        padding: 0;
        border-radius: 18px;
        width: 18px;
        height: 18px;
        text-align: center;
      }
    }
    #owner {
      margin-bottom: 40px;
    }
    #collaborations {
      margin-bottom: 40px;
    }
    .back-btn {
      width: 100%;
      height: 35px;
      text-align: center;
      font-size: 18px;
    }
  }
}

.select2-results {
  font-family: $common-novelsans-semibold;
}
