@import "mixins/variables.css.scss";
@import "mixins/clearfix.css.scss";

#content, main {
  @include cf;
}
main { 
  float: left;
  width: 100%;
  section {
    h1 {
      margin-bottom: 20px;
      height: 40px;
      line-height: 1.5em;
      font-size: 36px;
      font-weight: bold;
    }
  }
}
