@import "mixins/variables.css.scss";
@import "mixins/clearfix.css.scss";
#content, main {
  @include cf;
}
main { 
  width: 960px;
  float: left;
  section {
    h1 {
      margin-bottom: 20px;
      height: 40px;
      line-height: 1.5em;
      font-size: 36px;
      font-weight: bold;
    }
  }
}
