@import "mixins/variables.css.scss";
@import "mixins/clearfix.css.scss";
@import "projects/_project_variables.css.scss";

#content {
  min-height: calc(100vh - 305px);
}
#content, main {
  @include cf;
}
main {
  float: left;
  width: 100%;
  section {
    h1 {
      margin-bottom: 20px;
      height: 40px;
      line-height: 1.5em;
      font-size: 36px;
      font-weight: 700;
    }
  }
}
article.card .title {
  font-size: 24px;
  margin-bottom: 18px;
}

.card-content {
  figure {
    overflow: hidden;
  }
  .description {
    line-height: 1.65;
  }
  .contributors {
    float: right;
    .contributor {
      margin-left: 10px;
      img {
        border-radius: 20px;
        border: 2px solid $common-gray;
        width: 20px;
        height: 20px;
      }
    }
  }
}

.btn + .btn {
  margin-left: 4px;
}

.first-column {
  float: left;
  padding-left: $first_column_padding_left;
  width: $first_column_width;
}
.second-column {
  float: left;
  width: $second_column_width;
}
.third-column {
  float: left;
  width: $third_column_width;
}
.article-column {
  float: left;
  width: $article_column_width;
}

.fb-comments {
  background-color: $common-background-color;
  border-radius: 5px;
  padding: 10px 0;
}

.modal {
  display:    none;
  position:   fixed;
  z-index:    9999;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: $common-modal-background-color
              url(image-path(#{$modal-img}))
              50% 50%
              no-repeat;
}
