@import "mixins/clearfix.css.scss";
@import "mixins/variables.css.scss";

#facebook-wrapper {
  display: none;
  padding: 30px 0;
  width: 100%;
  background: #3B5998;
  .inner {
    @include cf;
    margin: 0 auto;
    width: $content-width;
    .left-column {
      float: left;
      margin-left: $common-margin;
      width: 80px;
      h1 {
        color: white;
        font-family: $common-helvetica;
        font-size: 18px;
        font-weight: 700;
        line-height: 40px;
      }
    }
    .right-column {
      float: right;
      margin-right: $common-margin;
      max-width: 780px;
    }
  }
}
