@import "mixins/clearfix.css.scss";
@import "mixins/variables.css.scss";

$project_form_width: 703px;

#recipes-new, #recipes-edit {
  width: 960px;
  background: white;
}

form.project-form {
  #owner {
    font-size: 18px;
    select#project_group_id {
      margin-bottom: 2px;
      background: white;
      font-family: $common-helvetica;
      font-size: 18px;
      border: $common-border;
      border-radius: 2px;
    }
  }

  input#project_title {
    width: $project_form_width;
    font-size: 28px;
    font-weight: 700;
    font-family: $common-verdana;
    margin: 20px 130px 0;
    padding: 12px 0 14px 12px;
    box-sizing: border-box;
    border: $common-border;
  }

  input#project_video_id {
    width: 580px;
    font-size: 12px;
  }

  #project-summary {
    @include cf;
    margin: 10px auto;
    width: $project_form_width;
    .description {
      h1 {
        margin-bottom: 0;
        margin-top: 10px;
        font-size: 22px;
      }
      #project_description {
        font-family: $common-verdana;
        width: 100%;
        height: 140px;
        line-height: 1.7em;
      }
    }

    .license {
      h1 {
        margin-bottom: 5px;
        margin-top: 20px;
        font-size: 22px;
      }
      img {
        width: 100px;
        margin-left: 5px;
        border: 3px solid rgba(0, 0, 0, 0);
      }
      img.selected {
        border: 3px solid orange;
      }
      .about-license {
        margin-top: 10px;
        font-size: 12px;
        a {
          color: $common-basic-color;
        }
      }
    }

    .access-level {
      h1 {
        margin-bottom: 5px;
        margin-top: 20px;
        font-size: 22px;
      }
    }

    .permalink {
      @include cf;
      h1 {
        margin-bottom: 5px;
        margin-top: 20px;
        font-size: 22px;
      }
      #permalink-label {
        float: left;
        height: 14px;
        line-height: 22px;
      }
      #project_name {
        height: 14px;
        width: 300px;
      }
    }

    ul.figures {
      li.figure {
        width: 100%;
         img {
           max-width: 380px;
         }
         iframe {
           max-width: 380px;
         }
         img + iframe {
           display: none;
         }
         .caution {
           display: inline-block;
           width: 40%;
           font-size: 14px;
           color: red;
         }
         .btn {
           margin-left: 5px;
         }
         .card-figure-link {
           width: 80%;
         }
      }
      .btn {
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
      }
      .card-figure-content, .card-figure-link {
        display: none;
      }
      &.hide-add-buttons {
        a.add-image, .add-video {
          display: none;
        }
      }
    }


  }
  #filesize-caution {
    display: none;
    margin-top: 40px;
    color: red;
    font-size: 21px;
  }
  .buttons {
    width: $project_form_width;
    margin: 40px auto 20px;
    input[type=submit] {
      font-family: $common-helvetica;
      font-size: 14px;
    }
  }

}
