@import "mixins/clearfix.css.scss";
@import "mixins/variables.css.scss";

$project_form_width: 703px;

#recipes-new, #recipes-edit {
  width: 960px;
  background: white;
  border-radius: 5px;
  margin-bottom: $common-margin-for-footer;
}

form.project-form {
  font-family: $common-novelsans;
  .page-title {
    margin: 50px 0 30px 90px;
    font-size: 30px;
    line-height: 1.2;
  }
  .left {
    display: inline-block;
    margin-left: 10px;
    width: 60px;
    font-family: $common-novelsans;
    color: $common-gray;
    text-align: right;
  }
  .right {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-left: 20px;
    width: 860px;
    .form-title {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 1.2;
    }

    #project_title {
      width: 540px;
      font-family: $common-verdana;
      font-size: 22px;
      font-weight: 500;
      margin: 10px 0 50px;
      padding: 8px 0 10px 12px;
      box-sizing: border-box;
      border: solid 1px $common-basic-color;
      border-radius: 5px;
    }

    #project_owner_id {
      width: 220px;
      height: 28px;
      padding-left: 10px;
      background: white;
      font-family: $common-verdana;
      font-size: 14px;
      border: solid 1px $common-basic-color;
      border-radius: 2px;
    }
  }





  input#project_video_id {
    width: 580px;
    font-size: 12px;
  }

  #project-summary {
    @include cf;
    margin: 10px auto;
    width: $project_form_width;
    .description {
      h1 {
        margin-bottom: 0;
        margin-top: 10px;
        font-size: 22px;
      }
      #project_description {
        font-family: $common-verdana;
        width: 100%;
        height: 140px;
        line-height: 1.7em;
      }
    }

    .license {
      h1 {
        margin-bottom: 5px;
        margin-top: 20px;
        font-size: 22px;
      }
      img {
        width: 100px;
        margin-left: 5px;
        border: 3px solid rgba(0, 0, 0, 0);
      }
      img.selected {
        border: 3px solid orange;
      }
      .about-license {
        margin-top: 10px;
        font-size: 12px;
        a {
          color: $common-basic-color;
        }
      }
    }

    .access-level {
      h1 {
        margin-bottom: 5px;
        margin-top: 20px;
        font-size: 22px;
      }
    }

    .permalink {
      @include cf;
      h1 {
        margin-bottom: 5px;
        margin-top: 20px;
        font-size: 22px;
      }
      #permalink-label {
        float: left;
        height: 14px;
        line-height: 22px;
      }
      #project_name {
        height: 14px;
        width: 300px;
      }
    }

    ul.figures {
      li.figure {
        width: 100%;
         img {
           max-width: 380px;
         }
         iframe {
           max-width: 380px;
         }
         img + iframe {
           display: none;
         }
         .caution {
           display: inline-block;
           width: 40%;
           font-size: 14px;
           color: red;
         }
         .btn {
           margin-left: 5px;
         }
         .card-figure-link {
           width: 80%;
         }
      }
      .btn {
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
      }
      .card-figure-content, .card-figure-link {
        display: none;
      }
      &.hide-add-buttons {
        a.add-image, .add-video {
          display: none;
        }
      }
    }
  }
  #filesize-caution {
    display: none;
    margin-top: 40px;
    color: red;
    font-size: 21px;
  }
  .buttons {
    margin: 55px 90px;
    #submit-btn {
      display: none;
    }
    .submit {
      width: 180px;
      height: 40px;
      padding: 5px 0 0 15px;
      background: $common-basic-color;
      border: none;
      border-radius: 5px;
      color: white;
      font-family: $common-novelsans;
      font-size: 18px;
      &:before {
        content: url("project/submit.png");
        position: relative;
        top: 6px;
        left: 2px;
        padding-right: 20px;
      };
    }
    .cancel {
      vertical-align: bottom;
      margin-left: 10px;
      width: 60px;
      height: 25px;
      padding: 5px 0px 0px 3px;
      font-family: $common-novelsans;
      font-size: 12px;
      border-radius: 5px;
      &:before {
        content: url("project/cancel.png");
        position: relative;
        top: 3px;
        padding-right: 3px;
      };
    }
  }

}
