@import "mixins/clearfix.css.scss";
@import "mixins/variables.css.scss";

$project_form_width: 703px;

#project-video-form, .video-form {
  display: none;
  width: 340px;
  p {
    font-size: 24px;
    font-weight: 900;
  }
  input {
    margin: 10px 0;
    width: 320px;
    font-size: 12px;
  }
  #caution, .caution {
    display: none;
    font-size: 14px;
    color: red;
  }
  .btn {
    margin: 20px 10px 0px 0px;
  }
  .ok-btn.disabled {
    background-color: #ddd;
    &:hover {
      cursor: default;
    }
  }
}

#recipes-new, #recipes-edit {
  width: 960px;
  background: white;
}

form.project-form {
  #owner {
    font-size: 18px;
    select#project_group_id {
      margin-bottom: 2px;
      background: white;
      font-family: $common-helvetica;
      font-size: 18px;
      border: $common-border;
      border-radius: 2px;
    }
  }

  input#project_title {
    width: $project_form_width;
    font-size: 28px;
    font-weight: 700;
    font-family: $common-verdana;
    margin: 20px 130px 0;
    padding: 12px 0 14px 12px;
    box-sizing: border-box;
    border: $common-border;
  }

  input#project_video_id {
    width: 580px;
    font-size: 12px;
  }

  #project-summary {
    @include cf;
    margin: 10px auto;
    width: $project_form_width;
    .description {
      h1 {
        margin-bottom: 0;
        margin-top: 10px;
        font-size: 22px;
      }
      #project_description {
        font-family: $common-verdana;
        width: 100%;
        height: 140px;
        line-height: 1.7em;
      }
    }

    .access-level {
      h1 {
        margin-bottom: 5px;
        margin-top: 20px;
        font-size: 22px;
      }
    }

    .permalink {
      @include cf;
      h1 {
        margin-bottom: 5px;
        margin-top: 20px;
        font-size: 22px;
      }
      #permalink-label {
        float: left;
        height: 14px;
        line-height: 22px;
      }
      #project_name {
        height: 14px;
        width: 300px;
      }
    }

    .visual {
      position: relative;
      width: $project_form_width;
      height: auto;
      min-height: 360px;
      margin-bottom: 12px;
      padding: 24px;
      box-sizing: border-box;
      font-size: 24px;
      text-align: center;
      background-size: cover;
      background: no-repeat top center;
      &[style*="''"] {
        border: $common-border;
      }
      iframe {
        width: 480px;
        height: 360px;
        position: absolute;
        top: 0;
        left: 0;
      }
      .figure-form-wrapper {
        height: 100%;
        .fields {
          display: none;
        }
        .add_nested_fields {
          display: none;
        }
        #photo-upload-btn,
        #input-video-url-btn {
          display: none;
          position: absolute;
          z-index: 999;
          top: 38%;
          left: 50%;
          width: 12em;
          margin-left: -6em;
          margin-top: -1.5em;
          padding: 20px;
          font-size: 24px;
          font-weight: 700;
        }
        #input-video-url-btn {
          top: 62%;
        }
        #remove-image-btn {
          display: none;
          position: absolute;
          z-index: 999;
          top: 8%;
          left: 92%;
          width: 21px;
          font-size: 24px;
        }
      }
    }
    .visual:hover {
      #photo-upload-btn,
      #input-video-url-btn,
      #remove-image-btn {
        display: block;
      }
    }
  }
  #filesize-caution {
    display: none;
    margin-top: 40px;
    color: red;
    font-size: 21px;
  }
  .buttons {
    width: $project_form_width;
    margin: 40px auto 20px;
    input[type=submit] {
      font-family: $common-helvetica;
      font-size: 14px;
    }
  }

}
