@import "mixins/clearfix";
@import "mixins/variables";

#index {
  $white_border: 1px solid white;
  $featured_projects_color: #63c5fb;
  $recent_projects_color: #e6f9ff;

  font-family: $common-novelsans-semibold;
  margin-top: -35px;
  width: 100%;
  background-color: $common-light-gray;


  // Components
  .label {
    margin: 0 auto;
    bottom: 0;
    padding-top: 15px;
    width: 200px;
    height: 25px;
    background-color: $common-background-color;
    text-align: center;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
  }

  .project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
  }

  .project-card {
    position: relative;
    margin-bottom: 20px;
    min-width: 0;
    width: 288px;
    height: 313px;
    background-color: white;
    a:hover .project-cover .hover-layer {
      opacity: 1;
    }
    .project-cover {
      position: relative;
      .hover-layer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        padding: 80px 70px;
        background-color: $common-modal-background-color;
        color: white;
        transition: all .3s;
        opacity: 0;
        .steps_and_memos {
          margin-bottom: .4em;
        }
        .liked {
          .count {
            margin-left: 3px;
          }
        }
      }
      .img {
        width: 288px;
        height: 190px;
        background-size: cover;
        background-position: center;
      }
      .project-cover-dummy {
        position: relative;
        width: 288px;
        height: 190px;
        background-color: $common-light-gray;
        &:after {
          content: "PROJECT";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          color: white;
        }
      }
    }
    .project-spec {
      position: relative;
      height: 123px;
      .project-outline {
        padding: 14px 15px 0;
        .project-title {
          margin-bottom: 0.6em;
          width: 100%;
          line-height: 1.25em;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .project-description {
          position: relative;
          width: 100%;
          height: 3.0em;
          line-height: 1.5em;
          font-size: 13px;
          color: $common-gray;
          overflow: hidden;
          &:before,
          &:after {
            position: absolute;
          }
          &:before {
            content: "...";
            bottom: 0;
            right: 0;
          }
          &:after {
            content: "";
            height: 100%;
            width: 100%;
            background-color: white;
          }
        }
      }
      .project-meta {
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid $common-light-gray;
        width: 100%;
        height: 33px;
        color: $common-gray;
        .project-views {
          position: absolute;
          bottom: 0;
          left: 15px;
          font-size: 12px;
          line-height: 33px;
          .material-icons {
            position: relative;
            top: 5px;
            margin-right: 4px;
            font-size: 20px;
            font-weight: normal;
          }
        }
        .project-date {
          position: absolute;
          bottom: 0;
          right: 15px;
          font-size: 12px;
          line-height: 33px;
        }
      }
    }
    .project-rank {
      position: absolute;
      z-index: 10;
      top: -10px;
      left: -8px;
      box-sizing: border-box;
      padding-top: 13px;
      width: 40px;
      height: 46px;
      background: image-url("icons/ranking-badge-ordinary") no-repeat;
      background-size: 100%;
      color: white;
      text-align: center;
      &.gold {
        background-image: image-url("icons/ranking-badge-gold");
      }
      &.silver {
        background-image: image-url("icons/ranking-badge-silver");
      }
      &.bronze {
        background-image: image-url("icons/ranking-badge-bronze");
      }
    }
    .project-author {
      position: absolute;
      z-index: 5;
      top: 10px;
      right: 10px;
      a {
        display: block;
        .icon {
          box-sizing: border-box;
          border: 2px solid #fff;
          border-radius: 50%;
          width: 44px;
          height: 44px;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }


  // Util
  .lang-jp {
    display: none;
  }
  .lang-en {
    display: block;
  }

  // Header
  #lang {
    position: absolute;
    right: 30px;
    top: 32px;
    z-index: 2147483647;
    font-weight: normal;
    font-size: 12px;
    .lang {
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
      &.is-selected {
        cursor: default;
        color: $common-quiet-text-color;
        &:hover {
          opacity: 1.0;
        }
      }
    }
  }

  // Main Visual
  #splash-wrapper {
    // background: asset-url("/uploads/background_image.jpg") center center no-repeat;
    background-size: contain;
    // background-size: cover;
    background-color: $common-light-gray;
    border-bottom: 2px solid white;
    .container {
      position: relative;
      margin: 0 auto;
      width: 980px;
      height: 270px;
      padding: 230px 0 60px;
      .text-en {
        width: 880px;
        text-align: center;
        text-align-last: none;
      }
      .text-jp {
        width: 680px;
        text-align: justify;
        text-align-last: justify;
      }
      .text {
        margin: 0 auto;
        // width: 680px;
        height: 100px;
        color: $common-title-text-color;
        line-height: 1.2;
        background-color: rgba(128, 128, 128, 0.5);
        .main-copy {
          font-size: 50px;
          font-weight: normal;
          text-align: center;
          letter-spacing: 1px;
        }
        .sub-copy {
          margin: 20px auto;
          height: auto;
          font-size: 20px;
        }
      }
      .sign-up {
        position: absolute;
        right: 40px;
        bottom: 35px;
        z-index: 100;
        .sign-up-btn {
          display: inline-block;
          background: image-url("icons/signup") no-repeat;
          height: 181px;
          width: 181px;
        }
        .sign-up-btn-jp {
          display: inline-block;
          background: image-url("icons/signup_jp") no-repeat;
          height: 181px;
          width: 181px;
        }
      }
    }
  }

  #introduction {
    position: relative;
    padding-bottom: 34px;
    height: 410px;
    background-color: #f6f6f6;
    .container {
      position: absolute;
      top: -120px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: flex-end;
      margin: 0 auto;
      max-width: 1010px;
      width: 100%;
      #about {
        flex: 0 0 570px;
        margin-right: 34px;
        padding: 40px 50px;
        background-color: white;
        h2 {
          margin-bottom: .4em;
          font-size: 40px;
          color: $common-dark-blue;
        }
        h3 {
          margin-bottom: .75em;
          font-size: 18px;
          font-weight: bold;
          color: $common-dark-blue;
        }
        .main-copy {
          margin-bottom: 2.5em;
          font-size: 16px;
          font-weight: bold;
          color: $common-dark-blue;
          line-height: 1.6em;
        }
        .sub-copy {
          margin-bottom: 2.0em;
          font-size: 14px;
          line-height: 1.83em;
        }
        .about {
          font-size: 14px;
          color: $common-dark-blue;
          text-decoration: underline;
        }
      }
      #usage {
        flex: 1 1 306px;
        .usage-list {
          h2 {
            margin-bottom: .75em;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
          }
          ul {
            li {
              a {
                position: relative;
                display: block;
                box-sizing: border-box;
                margin-bottom: 5px;
                border-radius: 4px;
                border: 1px solid #dfdfdf;
                height: 44px;
                background-color: white;
                text-align: center;
                font-weight: bold;
                line-height: 44px;
                &:after {
                  position: absolute;
                  right: 14px;
                  content: "\e5c8";
                  font-family: "Material Icons";
                  font-size: 20px;
                  font-weight: normal;
                  color: $common-dark-blue;
                }
              }
            }
          }
        }
        .usage-data {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 34px;
          height: 89px;
          background-color: white;
          .usage-data-item{
            position: relative;
            flex: 1 0 0%;
            text-align: center;
            &:not(:last-child):after {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0;
              width: 1px;
              height: 16px;
              background-color: $common-light-gray;
            }
            .usage-data-item-icon {
              margin-bottom: 3px;
              width: 24px;
              height: 24px;
            }
            .usage-data-item-value {
              margin-bottom: 3px;
              color: $common-dark-blue;
            }
            .usage-data-item-label {
              font-size: 13px;
              color: $common-gray;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
  #howto-use-fabble {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background: white;
    .container {
      display: flex;
      .title {
        display: flex;
        align-items: center;
        margin-right: 120px;
        font-size: 18px;
        font-weight: bold;
      }
      .contents {
        ul {
          li {
            font-size: 14px;
            &:not(:last-child) {
              margin-bottom: .6em;
            }
            ul {
              display: inline-block;
              li {
                display: inline-block;
                &:not(:last-child):after {
                  content: "/";
                  margin: 0 4px;
                  font-size: 14px;
                }
                a {
                  color: $common-dark-blue;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }

  #dashboard {
    background: $common-light-gray;
    border-bottom: 2px solid white;
    .container {
      margin: 0 auto;
      width: $content_width;
      padding: 40px 0 0px;
      .link {
        display: inline-block;
        margin: 0 10px;
        width: $content_width / 4 - 20px;
        .image-wrapper {
          width: 100%;
          .image {
            display: block;
            margin: 0 auto 10px;
            width: 68px;
            height: 68px;
            border-radius: 68px;
            border: 5px solid white;
            background-color: $common-background-color;
          }
          .create_project {
            background: image-url("icons/create_project_m") no-repeat white;
            height: 67px;
            width: 67px;
          }
          .create_group {
            background: image-url("icons/create_group_m") no-repeat white;
            height: 67px;
            width: 67px;
          }
          .edit_profile {
            background: image-url("icons/edit_profile_m") no-repeat white;
            height: 65px;
            width: 65px;
          }
        }
        .title {
          margin-bottom: 30px;
          width: 100%;
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }

  #populur-projects {
    padding: 50px 0 72px;
    border-bottom: 1px solid white;
    background-color: $common-light-blue;
    .container {
      margin: 0 auto;
      .populur-projects-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 592px;
        height: 313px;
        background-color: white;
        .inner {
          text-align: center;
          .title {
            margin-bottom: .5em;
            font-size: 40px;
            color: $common-dark-blue;
          }
          .description {
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }
  }

  .projects-wrapper {
    width: 100%;

    .container {
      @include cf;
      width: 960px;
      margin: 0 auto;
      padding-top: 50px;

      .title {
        margin: 0px auto 30px;
        width: 343px;
        font-size: 30px;
        font-weight: normal;
        line-height: 1.2;
      }
      .notice {
        text-align: center;
      }

      #featured-projects {
        margin-bottom: 40px;
      }

      #searched-projects, #recent-projects, .featured-projects {
        width: 100%;
        .project {
          $figure_width: 300px;
          margin-bottom: 20px;
          width: $figure_width;
          background-color: $common-background-color;
          border-radius: 5px;
          .header {
            position: relative;
            .thumb-wrapper {
              max-width: $figure_width;
              width: $figure_width;
              margin: 0;
              overflow: hidden;
              .thumb {
                width: 100%;
                border-radius: 5px 5px 0 0;
              }
            }
            .user {
              position: absolute;
              top: 10px;
              right: 10px;
              width: 40px;
              height: 40px;
              .icon {
                width: 40px;
                height: 40px;
                border-radius: 40px;
                border: 2px solid white;
                background-position: center center;
                background-size: cover;
              }
            }
            .title-large {
              position: relative;
              margin: 0px 10px 5px;
              width: $figure_width - 60px;
              padding-top: 10px;
              font-family: $common-novelsans-semibold;
              font-weight: normal;
              font-size: 45px;
              line-height: 50px;
              .block {
                display: block;
                word-wrap: break-word;
              }
            }
          }

          .inner {
            $inner_padding: 10px;
            width: $figure_width - $inner_padding * 2;
            padding: $inner_padding;
            .title-small {
              margin-bottom: 10px;
              min-height: 45px;
              font-size: 18px;
              line-height: 1.5;
            }
            .spacer {
              display: block;
              width: 100%;
              height: 65px;
            }
            .description {
              margin-bottom: 5px;
              font-size: 14px;
              line-height: 22px;
              color: $common-quiet-text-color;
              font-family: $common-novelsans-light;
              word-break: break-all;
            }
            .status {
              margin-bottom: 5px;
              line-height: 15px;
              font-family: $common-novelsans-light;
              font-size: 14px;
              .recipes, .notes {
                display: inline-block;
                margin-bottom: 5px;
              }
              .notes {
                margin-left: 5px;
              }
              .since {
                margin-bottom: 5px;
              }
              .liked {
                img { margin-bottom: -2px; }
                .count { margin-left: 3px; }
              }
            }
          }
        }
      }
    }
  }

  #featured {
    background: $common-light-blue;
    border-bottom: 2px solid white;
    .title {
      margin: 0;
      font-size: 14px;
      text-decoration: underline;
    }
  }

  #featured-groups {
    background: $common-light-blue;
    border-bottom: 1px solid white;
    .container {
      margin: 0 auto;
      width: $content_width;
      padding: 64px 0;
      .section-title {
        margin-bottom: 40px;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
      }
      .groups {
        .group {
          display: inline-block;
          margin-right: 10px;
          margin-left: 10px;
          width: 300px;
          vertical-align: top;
          .image-wrapper {
            width: 100%;
            .image {
              display: block;
              margin: 0 auto;
              width: 140px;
              height: 140px;
              border-radius: 140px;
              border: none;
              background-color: $common-background-color;
            }
          }
          .title {
            margin-top: 20px;
            text-align: center;
            font-size: 18px;
            line-height: 1.25;
          }
          .meta {
            margin: 10px 0;
            font-size: 12px;
            color: $common-basic-color;
            text-align: center;
            .place, .members, .projects {
              margin-left: 10px;
              margin-right: 10px;
              line-height: 1.25;
            }
          }
        }
      }
    }
  }

  #recent {
    padding: 60px 0 72px;
    border-bottom: 1px solid white;
    background-color: $recent_projects_color;
    .section-title {
      margin-bottom: 32px;
      font-size: 28px;
      font-weight: bold;
      text-align: center;
    }
    .container {
      margin: 0 auto;
    }
  }

  #searched {
    background: $recent_projects_color;
    border-bottom: 2px solid white;
    .container {
      width: 940px;
      padding-bottom: 75px;
    }
    .title {
      margin: 0px auto 30px;
      width: 280px;
      font-size: 30px;
      font-weight: normal;
      line-height: 1.2;
      text-align: center;
    }
  }

  #tags-and-keywords {
    background: $common-light-gray;
    border-bottom: 2px solid white;
    .container {
      @include cf;
      margin: 0 auto;
      width: $content_width;
      padding: 40px 0;
      .left {
        float: left;
        width: 470px;
        margin-right: 20px;
        .tags-wrapper {
          width: 100%;
          .title {
            margin-bottom: 5px;
            font-size: 20px;
            font-weight: normal;
          }
          .tag {
            display: inline-block;
            margin: 5px;
            padding: 8px 10px 5px;
            font-size: 12px;
            background-color: $common-background-color;
            border: 1px solid gray;
          }
          .show-all, .show-selected {
            margin-top: 5px;
            margin-left: 5px;
          }
          .all-tags {
            display:  none;
          }
        }
      }
      .right {
        float: left;
        .materials-wrapper, .tools-wrapper {
          width: 470px;
          .title {
            margin-bottom: 5px;
            font-size: 20px;
            font-weight: normal;
          }
          .material, .tool {
            display: inline-block;
            margin: 5px;
            padding: 8px 10px 5px;
            font-size: 12px;
            background-color: $common-background-color;
          }
        }
        .materials-wrapper .material {
          border: 1px solid #23CE6A;
        }
        .tools-wrapper {
          margin-top: 20px;
          .tool {
            border: 1px solid #F34D06;
          }
        }
      }
    }
  }

  #sign-up-pane {
    .container {
      margin: 0 auto;
      width: $content_width;
      padding: 60px 0;
      .button-wrapper {
        .sign-up-btn {
          margin: 0 auto;
          display: block;
          width: 210px;
          padding: 20px 60px 15px;
          text-align: center;
          font-size: 20px;
          background-color: $common-background-color;
          border-radius: 5px;
          color: $common-dark-blue;
        }
      }
    }
  }

  .pagination {
    margin-top: 30px;
    font-size: 17.5px;
    color: $common-btn-text-color;
    span {
      padding: 5px 2px 2px 5px;
      margin-right: 5px;
      background: $common-basic-color;
      a {
        color: $common-btn-text-color;
      }
    }
    .current {
      background: none;
      color: $common-basic-color;
    }
    .first {
      border-radius: 5px 0 0 5px;
    }
    .last {
      border-radius: 0 5px 5px 0;
    }

  }

}
