@import "mixins/clearfix.css.scss";
@import "mixins/variables.css.scss";
@import "_project_variables.css.scss";

#projects-index {
  @include cf;
  .left {
    @include cf;
    float: left;
    margin-left: 10px;
    width: 300px;
    .wrapper {
      display: block;
      float: right;
      width: 220px;
      font-weight: 500;
      font-family: $common-verdana;
      .owner-avatar {
        margin-bottom: 20px;
        max-width: 100%;
      }
      .owner-name {
        width: 100%;
        line-height: 22px;
        font-size: 18px;
      }
      .joined-on {
        width: 100%;
        line-height: 15px;
        font-size: 12px
      }
      .makes {
        margin-bottom: 20px;
        width: 100%;
        line-height: 18px;
        font-size: 12px;
        .count {
          font-weight: 700;
          font-style: italic;
        }
      }
      h2 {
        width: 100%;
        font-weight: 700;
        font-family: $common-sans-serif;
        font-size: 22px;
        line-height: 33px;
        color: #808080;
      }
      .members, .groups {
        margin-bottom: 20px;
        .member-avatar, .group-avatar {
          display: inline-block;
          max-width: 20px;
          max-height: 20px;
          margin-right: 5px;
          &:nth-child(9n) {
            margin-right: 0;
          }
        }
      }
      .serch-box {
        width: 220px;
        height: 26px;
        font-size: 12px;
        font-weight: 500;
        font-family: $common-sans-serif;
        line-height: $common-line-height;
      }
    }
  }
  .right {
    float: left;
    margin-left: 20px;
    width: 630px;
    .tabs {
      li {
        display: inline-block;
        margin-right: 10px;
        padding-left: 10px;
        width: 140px;
        height: 28px;
        background: #F2F2F2;
        font-family: $common-verdana;
        font-size: 14px;
        line-height: $common-line-height;
        font-weight: 500;
        &.active {
          background: white;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .tabs-content {
      padding: 20px 10px 125px;
      width: 610px;
      background: white;
      .tabs-pane {
        width: 100%;
        h2 {
          width: 100%;
          font-weight: 700;
          font-family: $common-helvetica;
          font-size: 22px;
          line-height: $common-line-height;
          border-top: 1px solid black;
        }
        .project-list {
          margin-top: 15px;
          .project {
            margin-bottom: 30px;
            padding-top: 10px;
            width: 100%;
            border-top: 1px solid #808080;
            .image-container {
              display: inline-block;
              max-width: 130px;
              .image {
                display: block;
                margin-bottom: 10px;
                img {
                  max-width: 100%;
                }
              }
              .meta {
                width: 100%;
                margin-bottom: 5px;
                span {
                  font-family: $common-verdana;
                  font-size: 9px;
                  line-height: 14px;
                  font-weight: 500;
                  &.date {
                    font-weight: 700;
                  }
                }
              }
            }
            .text-container {
              display: inline-block;
              vertical-align: top;
              margin-top: -10px;
              margin-left: 20px;
              width: 460px;
              .title {
                margin-bottom: 10px;
                font-family: $common-sans-serif;
                font-size: 18px;
                line-height: 40px;
                font-weight: 500;
              }
              .summary {
                margin-bottom: 5px;
                font-family: $common-sans-serif;
                font-size: 12px;
                line-height: 18px;
                font-weight: 500;
                color: #808080;
              }
              .tags {
                line-height: 18px;
                font-size: 10px;
                font-weight: 500;
                font-family: $common-verdana;
                :first-child {
                  font-weight: 700;
                }
                .tag {
                  :not(:last-child):after {
                    content: ",";
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
