$icons-sprite-dimensions: true;
@import "compass/utilities/sprites";
@import "icons/*.png";
@include all-icons-sprites;

aside.like {
  .like-form {
    display: none;
  }
  .like-button {
    @include icons-sprite(star);
    $star_size: 20px;
    height: $star_size;
    padding-left: $star_size + 5px;
    cursor: pointer;
    font-size: 20px;
    line-height: $star_size + 5px;
    display: inline-block;
  }
  .like-button.liked {
    @include icons-sprite(starred);
  }
}
