@import "mixins/clearfix.css.scss";
@import "mixins/variables.css.scss";

main#recipes-show {
  #making {
    width: 960px;
    padding: 10px 0px;
    min-height: 100px;
    border-bottom: $common-border;
    box-sizing: content-box;
    li.status {
      .photo {
        float: left;
        margin: 0 20px 2px 0;
        a.item-photo {
          display: block;
          width: 240px;
          height: 180px;
          background-size: cover;
          background-position: center;
        }
        iframe {
          display: block;
          width: 240px;
          height: 180px;
        }
      }
      .summary {
        height: 180px;
        word-break: break-all;
        .description {
          margin-top: 10px;
        }
      }
      .edit-form-wrap {
      }
      @include cf;
      .status-fields {
        @include cf;
        .summary {
          float: left;
          .toggle-star-btn {
            font-size: 24px;
          }
        }
      }
      &:first-child {
        min-height: 180px;
      }
      &:not(:first-child) {
        min-height: 180px;
      }
      &:last-child {
        .ways {
          display: none;
        }
      }

      .ways {
        @include cf;
        width: 100%;
        margin-top: 10px;
        .ui {
          @include cf;
        }
        .arrow {
          float: left;
          width: 240px;
          height: 200px;
          margin-right: 40px;
          position: center;
          background-image: asset-url("arrow.png");
          background-repeat: no-repeat;
          background-size: 45px 200px;
          background-position: 90px 0;
          position: relative;
          .add-way {
            position: absolute;
            top: 50%;
            right: 0;
            a {
              font-size: 18px;
            }
          }
        }
        li.way {
          @include cf;
          height: 180px;
          margin: 0 20px 20px 0;
          width: 480px;
          float: left;
          .summary {
            max-height: 156px;
            word-break: break-all;
            float: left;
            .description {
              margin: 10px 10px 10px 0px;
              height: 115px;
              text-align: left;
              font-size: 16px;
            }
          }
          .toggle-star-btn {
            font-size: 24px;
          }
          .edit-btn, .delete-btn {
            font-size: 14px;
          }
        }
        .add-form {
          display: none;
          iframe {
            min-height: 172px;
          }
        }
      }
    }
  }
}