#recipes-show, #notes-show {
  .material, .tool, .blueprint, .link {
    color: #52C3F1;
    font-weight: 700;
  }
}

.markup-form {
  .form-field {
    border-top: 1px solid gray;
    padding-top: 10px;
  }

  .form-field:first-child {
    border: none;
    padding: 0;
  }

  textarea {
    border: 1px solid gray;
    width: 310px;
    height: 70px;
  }

  input[type=text] {
    border: 1px solid gray;
    border-radius: 10px;
    width: 300px;
    padding-left: 6px;
  }

  .container {
    margin-left: 10px;
    margin-top: 14px;

    label + * {
      position: absolute;
      left: 110px;
    }

    span {
      margin-left: 20px;
    }
  }
  .image {
    height: 98px;
    input {
      display: none;
    }
    img {
      width: 100px;
      height: 100px;
      position: absolute;
      left: 204px;
    }
  }

  .link {
    margin-top: 14px;
    margin-left: 10px;
  }

  .link-selection {
    margin-left: 20px;
  }
  .center {
    margin-top: 14px;
    text-align: center;
    margin-left: 16px;
  }

  hr {
    border: 1px solid #ddd;
    margin-top: 16px;
  }
}
