@import "mixins/clearfix.css.scss";
@import "mixins/variables.css.scss";
@import "projects/_project_variables.css.scss";

#note-cards-show {
  width: $content_width;
  aside.like {
    display: inline;
  }
  .top {
    margin-left: $first_column_width;
    padding-top: 1px;
    width: $article_column_width;
    background-color: $common-background-color;
    .inner {
      @include cf;
      $margin: 10px;
      width: $article_column_width - $margin * 2;
      margin: 34px $margin 0;
      border-top: $common-border;
      h1 {
        font-family: $common-novelsans-semibold;
        font-weight: 500;
        font-size: 22px;
        line-height: $common-line-height;
      }
      .new-card {
        float: right;
        margin-top: -20px;
      }
    }
  }
  .note-card-wrapper {
    @include cf;
    height: auto;
    .first-column {
      display: block;
      min-height: 10px;
    }
    .article-column {
      display: block;
      margin-right: 70px;
      padding-bottom: 40px;
      background-color: $common-background-color;
      .card-content {
        $note_card_width: 820px;
        @include cf;
        .title {
          margin: 0 10px;
          width: $note_card_width - 20px;
          font-family: $common-novelsans-light;
          font-size: 22px;
          line-height: $common-line-height;
        }
        .meta {
          margin: 0 10px;
          width: $note_card_width - 20px;
          font-family: $common-novelsans-semibold;
          font-size: 14px;
          line-height: $common-line-height;
          .postedby {
            display: inline-block;
            width: 60%;
            font-weight: normal;
            img {
              margin-right: 5px;
              margin-bottom: -3px;
              width: 16px;
              height: 16px;
            }
          }
          .control {
            display: inline-block;
            margin-top: 5px;
            width: 40%;
            text-align: right;
            .starred {
              height: 26px;
              padding-right: 10px;
              margin-right: 10px;
              border-right: 1px solid black;
              .icon {
                display: inline-block;
                vertical-align: top;
                margin-top: 1px;
                width: 20px;
                height: 20px;
              }
              .count {
                display: inline-block;
                vertical-align: top;
                margin-left: 5px;
                height: 20px;
              }
            }
          }
        }

        figure {
          margin-left: 10px;
          width: $note_card_width - 20px;
          height: auto;
          overflow: hidden;
          border: none;
          border-radius: 0;
          box-shadow: none;
          img {
            width: 100%;
          }
          iframe {
            width: 100%;
            height: ($note_card_width - 20px) * 3 / 4;
          }
        }
        figure.flexslider {
          margin-left: 10px;
          width: $note_card_width - 20px;
          height: auto;
          overflow: hidden;
          border: none;
          border-radius: 0;
          box-shadow: none;
          img {
            width: 100%;
          }
          li:first-child > img{
            max-width: 100%;
          }
          ol.flex-control-paging {
            top: 10px;
            li>a {
              background: $common-basic-color;
              opacity: 0.5;
              &:hover {
                background: $common-basic-color;
                opacity: 0.7;
              }
              &.flex-active {
                background: $common-basic-color;
                opacity: 0.9;
              }
            }
          }
          .flex-direction-nav a:before {
            color: $common-basic-color;
          }
          .flex-prev, .flex-next {
            top: 20px;
            height: 100%;
            font-size: 0;
          }
          .flex-prev:before {
            content: '<';
          }
          .flex-next:before {
            content: '>';
          }
        }

        .description {
          margin: 10px;
          width: $note_card_width - 20px;
          font-family: $common-novelsans-light;
          font-size: 16px;
          line-height: 32px;
          a {
            color: $common-basic-color;
          }
          ul {
            margin-left: 20px;
            list-style-type: disc;
          }
          ol {
            margin-left: 20px;
          }
        }
      }
    }
  }
  footer {
    display:block;
    margin-right: 70px;
    margin-bottom: 60px;
    margin-left: $first_column_width;
    padding-top: 150px;
    width: $article_column_width;
    background-color: $common-background-color;
    .inner {
      $margin: 10px;
      width: $article_column_width - $margin * 2;
      margin: 0px $margin 0;
      height: 60px;
      border-top: $common-border;
    }
  }
}

#templates {
  display: none;
}
