@import "mixins/clearfix.css.scss";
@import "mixins/variables.css.scss";
@import "projects/_project_variables.css.scss";

#note-cards {
  width: $content_width;
  a:not(.btn) {
    color: $common-basic-color;
  }
  aside.like {
    display: inline;
    .like-button {
      font-size: 16px;
    }
  }
  .top {
    margin-left: $first_column_width;
    padding-top: 1px;
    width: $article_column_width;
    background: white;
    .inner {
      @include cf;
      $margin: 10px;
      width: $article_column_width - $margin * 2;
      margin: 34px $margin 0;
      border-top: $common-border;
      h1 {
        font-family: $common-novelsans-semibold;
        font-weight: 500;
        font-size: 22px;
        line-height: $common-line-height;
      }
      .new-card {
        float: right;
        margin-top: -20px;
      }
    }
  }
  .note-card-wrapper {
    @include cf;
    height: auto;
    .first-column {
      display: block;
      min-height: 10px;
    }
    .article-column {
      display: block;
      padding-bottom: 50px;
      background: white;
      .card-content {
        @include cf;
        $figure_width: 368px;
        .left {
          float: left;
          .title {
            margin: 0 10px 0px 20px;
            width: 410px;
            font-family: $common-novelsans-light;
            font-size: 22px;
            line-height: $common-line-height;
          }
          .meta {
            margin: 0 10px 0px 20px;
            width: 410px;
            font-family: $common-novelsans-semibold;
            font-size: 14px;
            line-height: $common-line-height;
            .postedby {
              font-weight: normal;
              img {
                width: 12px;
                height: 12px;
              }
            }
            .control {
              margin-top: 5px;
              .starred {
                height: 26px;
                padding-right: 10px;
                margin-right: 10px;
                border-right: 1px solid black;
                .icon {
                  display: inline-block;
                  vertical-align: top;
                  margin-top: 1px;
                  width: 20px;
                  height: 20px;
                }
                .count {
                  display: inline-block;
                  vertical-align: top;
                  margin-left: 5px;
                  height: 20px;
                }
              }
            }
          }
          .description {
            float: left;
            margin: 10px 10px 0 20px;
            width: 410px;
            font-family: $common-novelsans-light;
            font-size: 14px;
            line-height: 24px;
          }
        }
        .right {
          float: left;
          figure {
            // float: left;
            margin-left: 10px;
            width: $figure_width;
            height: auto;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            li:first-child > img{
              max-width: 100%;
            }
          }
          figure>img {
            width: 100%;
          }
          figure>iframe {
            width: 100%;
            height: 276px;
          }
          figure.flexslider {
            float: left;
            max-width: $figure_width;
            width: $figure_width;
            overflow: hidden;
            border: none;
            border-radius: 0;
            box-shadow: none;
            img {
              width: 100%;
            }
            ol.flex-control-paging {
              top: 10px;
              height: 10px;
              li>a {
                background: $common-basic-color;
                opacity: 0.5;
                &:hover {
                  background: $common-basic-color;
                  opacity: 0.7;
                }
                &.flex-active {
                  background: $common-basic-color;
                  opacity: 0.9;
                }
              }
            }

            .flex-direction-nav a:before {
              color: $common-basic-color;
            }
            .flex-prev, .flex-next {
              top: 20px;
              height: 100%;
              font-size: 0;
            }
            .flex-prev:before {
              content: "<";
            }
            .flex-next:before {
              content: ">";
            }
          }
        }
      }
    }
  }
  footer {
    display:block;
    margin-bottom: 60px;
    margin-left: $first_column_width;
    width: 820px;
    padding-top: 150px;
    background: white;
    .inner {
      $margin: 10px;
      width: $article_column_width - $margin * 2;
      margin: 0px $margin 0;
      height: 60px;
      border-top: $common-border;
    }
  }
}

#templates {
  display: none;
}
