@import "mixins/variables.css.scss";
@import "projects/_project_variables.css.scss";

$card_list_width: $visual_width + $summary_width;

#note-cards {
  margin-top: 12px;
  width: $card_list_width + 1;
}

.notecard {
  .title {
    &:before {
      content: "■ ";
      color: gray;
      font-size: 24px;
    }
  }
  
  figure {
    margin-bottom: 18px;
  }
}
