@import "mixins/clearfix";
@import "mixins/variables";
@import "mixins/slick";
@import "projects/_project_variables";

#note-cards {
  width: $content_width;
  a:not(.btn) {
    color: $common-basic-color;
  }
  .top {
    margin-left: $first_column_width;
    padding-top: 1px;
    width: $article_column_width;
    background-color: $common-background-color;
    .inner {
      @include cf;
      $margin: 10px;
      width: $article_column_width - $margin * 2;
      margin: 34px $margin 0;
      border-top: $common-border;
      h1 {
        font-family: $common-novelsans-semibold;
        font-weight: 500;
        font-size: 22px;
        line-height: $common-line-height;
      }
      .new-card {
        float: right;
        margin-top: -20px;
      }
    }
  }
  .note-card-wrapper {
    @include cf;
    height: auto;
    .first-column {
      display: block;
      min-height: 10px;
    }
    .article-column {
      display: block;
      padding-bottom: 50px;
      background-color: $common-background-color;
      .card-content {
        @include cf;
        $figure_width: 368px;
        .left {
          float: left;
          .title {
            margin: 0 10px 0px 20px;
            width: 410px;
            font-family: $common-novelsans-light;
            font-size: 22px;
            line-height: $common-line-height;
          }
          .meta {
            margin: 0 10px 0px 20px;
            width: 410px;
            font-family: $common-novelsans-semibold;
            font-size: 14px;
            line-height: $common-line-height;
            .postedby {
              font-weight: normal;
              img {
                width: 12px;
                height: 12px;
              }
            }
            .control {
              margin-top: 5px;
            }
          }
          .description {
            float: left;
            margin: 10px 10px 0 20px;
            width: 410px;
            font-family: $common-novelsans-light;
            font-size: 14px;
            line-height: 24px;
          }
        }
        .right {
          float: left;
          figure {
            // float: left;
            margin-left: 10px;
            width: $figure_width;
            height: auto;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            li:first-child > img{
              max-width: 100%;
            }
            @include slick(5px, 5px);
            .slick {
              float: left;
              max-width: $figure_width;
              width: $figure_width;
            }
          }
          figure>img {
            width: 100%;
          }
          figure>iframe {
            width: 100%;
            height: 276px;
          }
        }
      }
    }
  }
  footer {
    display:block;
    margin-bottom: 60px;
    margin-left: $first_column_width;
    width: 820px;
    padding-top: 150px;
    background-color: $common-background-color;
    .inner {
      $margin: 10px;
      width: $article_column_width - $margin * 2;
      margin: 0px $margin 0;
      height: 60px;
      border-top: $common-border;
    }
  }
}

#templates {
  display: none;
}
