@import "mixins/clearfix.css.scss";
@import "mixins/variables.css.scss";
@import "projects/_project_variables.css.scss";

#recipe-cards {
  width: $first_column_width + $article_column_width;
  margin-right: $first_column_width;
  .top {
    margin-left: $first_column_width;
    padding-top: 1px;
    width: $article_column_width;
    background: white;
    .inner {
      @include cf;
      width: $article_column_width - $common-margin * 2;
      margin: 34px $common-margin 0;
    }
  }

  #making-list {
    @include cf;
    width: $first_column_width + $article_column_width;
    margin-right: $first_column_width;
    .top {
      .inner {
        width: $article_column_width - $common-margin * 4;
        margin: $common-margin $common-margin*2 0;
        border-top: $common-border;
        h2 {
          margin-top: 5px;
          display: inline-block;
          vertical-align: top;
          width: 40%;
          font-family: $common-novelsans;
          font-size: 22px;
          font-weight: normal;
          line-height: $common-line-height;
        }
      }
    }
    .article-column.sp {
      background: white;
      margin-top: -2px;
      margin-left: $first_column_width;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-radius: 0 0 5px 5px;

      .new-card {
        margin-top: 20px;
        margin-left: $common-margin * 2;
        padding: 9px 0 6px;
        width: $article_column_width - $common-margin * 4;
        background-color: $common-basic-color;
        font-size: 14px;
        line-height: $common-line-height;
        text-align: center;
        color: white;
      }
    }
  }
}

#recipe-card-list {
  @include cf;
  width: $content_width;
  font-family: $common-verdana;
  > li {
    width: 100%;
    float: left;
  }
  li.state-wrapper {
    $state_margin_top: 50px;
    margin-top: -2px;
    width: $first_column_width + $article_column_width;
    article {
      @include cf;
      display: table;
      width: 100%;
      h1.number {
        display: table-cell;
        vertical-align: top;
        z-index: 2;
        -webkit-padding-start: 13px;
        width: 30px;
        max-width: 30px;
        font-family: $common-novelsans;
        font-size: 45px;
        line-height: 140px;
        color: white;
      }
      .arrow-column {
        display: table-cell;
        padding-right: 18px;
        position: relative;
        width: 22px;
        background-image: asset-url("arrow-body.png");
        background-size: 22px 100%;
        background-repeat: no-repeat;
        background-position: 50% 50px;
        &:before {
          content: "\0000a0";
        }
        .arrow-head {
          margin-left: 9px;
          -webkit-margin-start: 4px;
          position: absolute;
          bottom: 0;
          width: 22px;
          height: 20px;
          background-image: asset-url("arrow-head.png");
          background-size: 22px 20px;
          background-repeat: no-repeat;
          background-position: 50% 0;
          &:before {
            content: "\0000a0";
          }
        }
      }

      .article-column {
        display: table-cell;
        background: white;
        padding-top: $state_margin_top;
        .card-content {
          @include cf;
          $card_content_width: $article_column_width - $common-margin * 4;
          $figure_width: 380px;
          $figure_margin_left: 20px;
          margin-left: $common-margin * 2;
          margin-bottom: $common-margin * 2;
          padding-bottom: 0;
          width: $card_content_width;
          border: none;

          .header {
            @include cf;
            position: relative;
            border-bottom: 1px solid $common-gray;
            h2.title {
              float: left;
              margin-bottom: 0;
              max-width: $card_content_width;
              font-family: $common-verdana;
              font-weight: normal;
              font-size: 25px;
              line-height: $common-line-height;
            }
            .control {
              position: absolute;
              right: 0;
              bottom: 5px;
            }
          }
          .body {
            @include cf;
            margin-top: 10px;
            figure {
              float: left;
              max-width: $figure_width;
              width: $figure_width;
              margin: 0 0 0 $figure_margin_left;
              overflow: hidden;
              border: none;
              box-shadow: none;
              img {
                width: 100%;
              }
              iframe {
                width: 100%;
                height: $figure_width * 3 / 4;
              }
            }
            figure.flexslider {
              float: left;
              max-width: $figure_width;
              width: $figure_width;
              margin: 0 0 0 $figure_margin_left;
              overflow: hidden;
              border: none;
              border-radius: 0;
              box-shadow: none;
              img {
                width: 100%;
              }
              ol.flex-control-paging {
                top: 10px;
                height: 10px;
                li>a {
                  background: $common-basic-color;
                  opacity: 0.5;
                  &:hover {
                    background: $common-basic-color;
                    opacity: 0.7;
                  }
                  &.flex-active {
                    background: $common-basic-color;
                    opacity: 0.9;
                  }
                }
              }

              .flex-direction-nav a:before {
                color: $common-basic-color;
              }
              .flex-prev, .flex-next {
                top: 20px;
                height: 100%;
                font-size: 0;
              }
              .flex-prev:before {
                content: '<';
              }
              .flex-next:before {
                content: '>';
              }
            }

            .description {
              float: left;
              word-wrap: break-word;
              width: $card_content_width - $figure_width - $figure_margin_left;
              font-size: 18px;
              line-height: 1.75;
              &.without-figures {
                width: 100%;
              }
            }

          }
          .attachments {
            @include cf;
            float: left;
          }
        }

        $annotation_margin_left: $common-margin * 2 + 80px;
        $annotation_width: $article_column_width - $annotation_margin_left - $common-margin * 2;
        .annotation-list {
          $figure_width: 300px;
          $figure_margin_left: $common-margin * 2;
          width: $annotation_width;
          margin-left: $annotation_margin_left;
          >li {
            width: 100%;
            overflow: auto;
            .annotation>.card-content {
              @include cf;
              margin-left: 0;
              margin-bottom: $common-margin;
              padding-bottom: 0;
              width: $annotation_width;
              border: none;
              figure {
                float: left;
                max-width: $figure_width;
                width: $figure_width;
                margin: 0 0 0 $figure_margin_left;
                overflow: hidden;
                border: none;
                box-shadow: none;
                img {
                  width: 100%;
                }
                iframe {
                  width: 100%;
                  height: $figure_width * 3 / 4;
                }
              }
              figure.flexslider {
                float: left;
                max-width: $figure_width;
                width: $figure_width;
                margin: 0 0 0 $figure_margin_left;
                overflow: hidden;
                border: none;
                box-shadow: none;
                img {
                  width: 100%;
                }
                ol.flex-control-paging {
                  top: 10px;
                  li>a {
                    background: $common-basic-color;
                    opacity: 0.5;
                    &:hover {
                      background: $common-basic-color;
                      opacity: 0.7;
                    }
                    &.flex-active {
                      background: $common-basic-color;
                      opacity: 0.9;
                    }
                  }
                }

                .flex-direction-nav a:before {
                  color: $common-basic-color;
                }
                .flex-prev, .flex-next {
                  top: 20px;
                  height: 100%;
                  font-size: 0;
                }
                .flex-prev:before {
                  content: '<';
                }
                .flex-next:before {
                  content: '>';
                }
              }
              h2.title {
                float: left;
                max-width: $annotation_width;
                font-family: $common-verdana;
                font-weight: normal;
                font-size: 20px;
                line-height: $common-line-height;
              }
              .description {
                float: left;
                word-wrap: break-word;
                width: $annotation_width - $figure_width - $figure_margin_left;
                font-size: 18px;
                line-height: 1.75;
                &.without-figures {
                  width: 100%;
                }
              }
              .attachments {
                @include cf;
                float: left;
              }
              footer {
                float: left;
                margin-top: $common-margin * 2;
                width: $annotation_width - $figure_width - $figure_margin_left;
              }
            }
          }
        }
        .new-card {
          margin-left: $annotation_margin_left;
          background-color: $common-basic-color;
          padding: 4px 0 1px;
          width: $annotation_width;
          font-family: $common-novelsans;
          font-size: 14px;
          line-height: $common-line-height;
          text-align: center;
          color: white;
        }
      }
    }
    &:first-of-type {
      h1.number {
        line-height: 70px;
      }
      .arrow-column {
        background-position: 50% 0;
      }
      .article-column {
        padding-top: 0px;
        -webkit-padding-before: 15px;
      }
    }
    progress {
      width: 100%;
    }
  }
}

#recipe-card-list {
  #card-order-tools {
    margin-top: -20px;
    margin-left: $first_column_width;
    padding-bottom: 20px;
    width: $article_column_width;
    text-align: right;
    background: white;
  }
  .order-up-btn {
    display: none;
  }
  .order-down-btn {
    display: none;
  }
  .order-change-btn {
    display: inline-block;
    margin-right: 20px;
  }
  .order-commit-btn {
    display: none;
    margin-right: 20px;
  }
  .wait4save {
    .btn {
      display: none;
    }
  }
}

#recipe-card-list.order-changing {
  .order-up-btn {
    display: inline-block;
  }
  .order-down-btn {
    display: inline-block;
  }
  .order-change-btn {
    display: none;
  }
  .order-commit-btn {
    display: inline-block;
  }
}

.edit_recipe {
  display: none;
}

#material-list, #tool-list, #blueprint-list {
  display: none;
  border-top: $common-border;
  padding: 3px 0 70px;
  font-family: $common-verdana;
  &.has-data { display: block; }
  h2 {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    font-family: $common-novelsans;
    font-size: 22px;
    line-height: $common-line-height;
  }
  ul {
    display: inline-block;
    padding-top: 7px;
    padding-left: 20px;
    width: 610px;
    > li {
      list-style-type: decimal;
      word-wrap: break-word;
      width: 100%;
      font-size: 14px;
      line-height: $common-line-height;
      a {
        cursor: pointer;
      }
    }
  }
}

#state-convert-dialog {
  display: none;
  .src {
    display: inline;
  }
  .text {
    line-height: 1.75;
  }
  #target_state {
    display: block;
    margin: 20px 0;
  }
}

#loading {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  overflow-x: auto;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.6);

  img {
    position: absolute;
  }
}
