@import "mixins/clearfix.css.scss";
@import "mixins/variables.css.scss";
@import "projects/_project_variables.css.scss";

#recipe-cards {
  width: $content_width;
  #top {
    margin-left: $first_column_width + $common-margin;
    padding-top: 1px;
    width: $article_column_width;
    background: white;
    .inner {
      @include cf;
      width: $article_column_width - $common-margin * 2;
      margin: 20px $common-margin 0;
    }
  }

  #making-list {
    @include cf;
    width: $content_width;
    #top {
      .inner {
        width: $article_column_width - $common-margin * 2;
        margin: $common-margin $common-margin 0;
        border-top: $common-border;
        h2 {
          margin-top: 5px;
          display: inline-block;
          vertical-align: top;
          width: 40%;
          font-family: $common-helvetica;
          font-weight: 700;
          font-size: 22px;
          line-height: $common-line-height;
        }
      }
    }
    .article-column.sp {
      background: white;
      margin-left: $first_column_width + $common-margin;
      .new-card {
        margin-top: 20px;
        margin-left: $common-margin;
        padding: 11px 0 11px 0;
        width: $article_column_width - $common-margin * 2;
        background-color: $common-basic-color;
        font-family: $common-verdana;
        font-size: 14px;
        line-height: $common-line-height;
        text-align: center;
        color: white;
      }
    }
  }
}

#recipe-card-list {
  @include cf;
  width: $content_width;
  > li {
    width: 100%;
    float: left;
  }
  li.state-wrapper {
    $state_margin_top: 50px;
    width: $content_width;
    article {
      @include cf;
      display: table;
      width: 100%;
      h1.number {
        display: table-cell;
        vertical-align: top;
        padding-left: 10px;
        z-index: 2;
        -webkit-padding-start: 13px;
        width: 38px;
        max-width: 38px;
        font-family: $common-helvetica;
        font-size: 45px;
        line-height: 140px;
        color: white;
      }
      .arrow-column {
        display: table-cell;
        padding-right: 20px;
        position: relative;
        width: 22px;
        background-image: asset-url("arrow-body.png");
        background-size: 22px 100%;
        background-repeat: no-repeat;
        background-position: 50% 50px;
        &:before {
          content: "\0000a0";
        }
        .arrow-head {
          margin-left: 10px;
          -webkit-margin-start: 9px;
          position: absolute;
          bottom: 0;
          width: 22px;
          height: 20px;
          background-image: asset-url("arrow-head.png");
          background-size: 22px 20px;
          background-repeat: no-repeat;
          background-position: 50% 0;
          &:before {
            content: "\0000a0";
          }
        }
      }

      .article-column {
        display: table-cell;
        float: none;
        background: white;
        padding-top: $state_margin_top;
        .card-content {
          @include cf;
          $card-content-width: $article_column_width - $common-margin * 2;
          $figure-width: 368px;
          $figure-margin-right: 20px;
          margin-left: $common-margin;
          margin-bottom: $common-margin * 2;
          padding-bottom: 0;
          width: $card-content-width;
          border: none;
          figure {
            float: left;
            max-width: $figure-width;
            width: $figure-width;
            margin-right: $figure-margin-right;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
          h2.title {
            float: left;
            max-width: $card-content-width - $figure-width - $figure-margin-right;
            font-family: $common-sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: $common-line-height;
          }
          .description {
            float: left;
            word-wrap: break-word;
            width: $card-content-width - $figure-width - $figure-margin-right;
            font-size: 14px;
            line-height: 24px;
          }
          .attachments {
            @include cf;
            float: left;
          }
          footer {
            float: left;
            margin-top: $common-margin * 2;
            width: $card-content-width - $figure-width - $figure-margin-right;
          }
        }

        $annotation_margin_left: $common-margin + 70px;
        $annotation_width: $article_column_width - $annotation_margin_left - $common-margin;
        .annotation-list {
          $figure-width: 298px;
          $figure-margin-right: $common-margin * 2;
          width: $annotation_width;
          margin-left: $annotation_margin_left;
          >li {
            width: 100%;
            overflow: auto;
            .annotation>.card-content {
              @include cf;
              margin-left: 0;
              margin-bottom: $common-margin;
              padding-bottom: 0;
              width: $annotation_width;
              border: none;
              figure {
                float: left;
                max-width: $figure-width;
                width: $figure-width;
                margin-right: $figure-margin-right;
                overflow: hidden;
                img {
                  width: 100%;
                }
              }
              h2.title {
                float: left;
                max-width: $annotation_width - $figure-width - $figure-margin-right;
                font-family: $common-sans-serif;
                font-weight: 700;
                font-size: 14px;
                line-height: $common-line-height;
              }
              .description {
                float: left;
                word-wrap: break-word;
                width: $annotation_width - $figure-width - $figure-margin-right;
                font-size: 14px;
                line-height: 24px;
              }
              .attachments {
                @include cf;
                float: left;
              }
              footer {
                float: left;
                margin-top: $common-margin * 2;
                width: $annotation_width - $figure-width - $figure-margin-right;
              }
            }
          }
        }
        .new-card {
          margin-left: $annotation_margin_left;
          background-color: $common-basic-color;
          padding: 11px 0;
          width: $annotation_width;
          font-family: $common-verdana;
          font-size: 14px;
          line-height: $common-line-height;
          text-align: center;
          color: white;
        }
      }
    }
    &:first-of-type {
      h1.number {
        line-height: 70px;
      }
      .arrow-column {
        background-position: 50% 15px;
      }
      .article-column {
        padding-top: 0px;
        -webkit-padding-before: 15px;
      }
    }
    progress {
      width: 100%;
    }
  }
}

#recipe-card-list {
  #card-order-tools {
    margin-top: -20px;
    margin-left: $first_column_width + $common-margin;
    text-align: right;
    background: white;
  }
  .order-up-btn {
    display: none;
  }
  .order-down-btn {
    display: none;
  }
  .order-change-btn {
    display: inline-block;
    margin-right: 10px;
  }
  .order-commit-btn {
    display: none;
    margin-right: 10px;
  }
  .wait4save {
    .btn {
      display: none;
    }
  }
}

#recipe-card-list.order-changing {
  .order-up-btn {
    display: inline-block;
  }
  .order-down-btn {
    display: inline-block;
  }
  .order-change-btn {
    display: none;
  }
  .order-commit-btn {
    display: inline-block;
  }
}

.edit_recipe {
  display: none;
}

#material-list, #tool-list, #blueprint-list {
  display: none;
  border-top: $common-border;
  padding: 3px 0 70px;
  &.has-data { display: block; }
  h2 {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    font-family: $common-helvetica;
    font-size: 22px;
    line-height: $common-line-height;
  }
  ul {
    display: inline-block;
    padding-top: 7px;
    width: 610px;
    > li {
      list-style-type: decimal;
      word-wrap: break-word;
      width: 100%;
      font-size: 14px;
      line-height: $common-line-height;
      a {
        cursor: pointer;
      }
    }
  }
}
