@import "mixins/variables.css.scss";

.slideshow {
  font-family: $common-novelsans-light;
  .fancybox-skin {
    border-radius: 0;
  }
  .fancybox-inner {
    overflow-x: hidden !important;
  }
  .fancybox-close {
    top: 3%;
    right: 3%;
    width: 25px;
    height: 25px;
    background: asset-url("slideshow/close.png") no-repeat;
    background-size: 25px;
  }
  .fancybox-nav {
    width: 50px;
    height: 40px;
  }
  .fancybox-prev {
    top: calc(50% - 20px);
    left: 3%;
    span {
      width: 45px;
      height: 50px;
      background: asset-url("slideshow/back.png") no-repeat;
    }
  }
  .fancybox-next {
    top: calc(50% - 20px);
    right: 3%;
    span {
      width: 45px;
      height: 50px;
      background: asset-url("slideshow/next.png") no-repeat;
    }
  }
  .fancybox-nav span {
    visibility: visible;
  }
  .update-state {
    display: none;
  }
  article.card {
    position: relative;
    margin: 10px;
    height: calc(100% - 20px);
    h1.title {
      position: absolute;
      left: 3%;
      top: 3%;
      font-size: 12px;
      font-family: $common-novelsans-semibold;
    }
    .denominator {
      position: absolute;
      top: 3%;
      right: calc(3% + 35px);
      text-align: left;
      font-size: 14px;
      font-family: $common-novelsans-semibold;
    }
    .number {
      position: absolute;
      top: calc(3% - 4px);
      right: calc(3% + 60px);
      width: 90px;
      height: 40px;
      text-align: right;
      font-family: $common-novelsans-semibold;
      font-size: 20px;
    }
    .arrow-column {
      display: none;
    }
    .article-column {
      width: 100%;
      height: 100%;
      float: none;
    }
    .card-content {
      height: 100%;
      h2.title {
        position: absolute;
        top: 7%;
        left: 3%;
        width: 80%;
        z-index: 10;
        font-size: 20px;
        font-family: $common-novelsans-semibold;
        line-height: 1.5;
      }
      .control {
        display: none;
      }
      figure {
        position: absolute;
        top: 14.5%;
        left: 10.7%;
        max-width: 78.6%;
        max-height: 40%;
        height: 40%;
        iframe {
          z-index: 0;
          max-width: 100%;
          max-height: 100%;
        }
        img {
          max-width: 100%;
          max-height: 100%;
        }
        .flex-viewport:first-child {
          display: none;
        }
        .flex-viewport {
          height: 100% !important;
        }
      }
      .description {
        position: absolute;
        top: 60%;
        left: 10.7%;
        width: 78.6%;
        z-index: 10;
        font-size: 16px;
        line-height: 30px;
        &.without-figures {
          top: 50%;
        }
      }
    }
  }

  #recipe-cards-list {
    display: block;
    position: absolute;
    right: 1%;
    bottom: 1%;
    width: 75px;
    height: auto;
    cursor: pointer;
    .container {
      display: table;
      width: 25px;
      height: auto;
      margin: 25px auto;
      .selector-column {
        display: table-cell;
        vertical-align: top;
        width: 7px;
        .selector {
          display: block;
          margin-top: 1px;
          width: 0;
          height: 0;
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-left: 7px solid $common-basic-color;
        }
      }
      .index-column {
        display: table-cell;
        width: 10px;
        .state-link {
          display: block;
          margin-bottom: 5px;
          width: 10px;
          height: 10px;
          background-repeat: no-repeat;
          background-color: $common-basic-color;
        }
        .annotation-link {
          display: none;
          margin-bottom: 5px;
          width: 10px;
          height: 10px;
          background-repeat: no-repeat;
          background-color: $common-basic-color;
          border-radius: 10px;
          &.is-opened {
            display: block;
          }
        }
      }
    }
  }

}
