@import "mixins/variables.css.scss";

.slideshow {
  font-family: $common-verdana;
  .fancybox-skin {
    border-radius: 5px;
  }
  .fancybox-inner {
    overflow-x: hidden !important;
  }
  .fancybox-close {
    top: 10px;
    right: 10px;
  }
  .fancybox-nav {
    width: 50px;
    height: 40px;
  }
  .fancybox-prev {
    top: 85px;
    left: 615px;
  }
  .fancybox-next {
    top: 85px;
    left: 775px;
    right: auto;
  }
  .fancybox-nav span {
    visibility: visible;
  }
  article.card {
    position: relative;
    margin: 10px;
    height: calc(100% - 20px);
    h1.title {
      position: absolute;
      left: 10px;
      top: 20px;
      font-size: 25px;
    }
    .number {
      position: absolute;
      left: 665px;
      top: 80px;
      width: 90px;
      height: 40px;
      border-bottom: 1px solid $common-basic-color;
      text-align: center;
      font-family: $common-novelsans;
      font-size: 30px;
    }
    .arrow-column {
      display: none;
    }
    .article-column {
      width: 100%;
      height: 100%;
      float: none;
    }
    .card-content {
      height: 100%;
      h2.title {
        position: absolute;
        top: 130px;
        left: 480px;
        width: 460px;
        z-index: 10;
        text-align: center;
        font-size: 25px;
        line-height: 1.5;
      }
      .control {
        display: none;
      }
      figure {
        position: absolute;
        top: 80px;
        width: 460px;
        height: 460px;
        iframe {
          z-index: 0;
          max-width: 100%;
          max-height: 100%;
        }
        img {
          max-width: 100%;
          max-height: 100%;
        }
        .flex-viewport:first-child {
          display: none;
        }
        .flex-viewport {
          height: 100% !important;
        }
      }
      .description {
        position: absolute;
        top: 190px;
        left: 480px;
        width: 460px;
        z-index: 10;
        font-size: 16px;
      }
    }
  }
}
