@import "mixins/variables.css.scss";
@import "mixins/clearfix.css.scss";
@import "mixins/rows.css.scss";
@import "mixins/slick.css.scss";
@import "projects/_project_variables.css.scss";

section#usages {
  margin-left: $first_column_width;
  margin-bottom: 50px;
  padding-top: 1px;
  width: $article_column_width;
  background-color: $common-background-color;
  border-radius: 5px;

  .inner {
    @include cf;
    $margin: 20px;
    width: $article_column_width - $margin * 2;
    margin: 20px $margin 0;
    padding-bottom: 50px;
    min-height: 256px;

    h1 {
      margin-bottom: 7px;
      font-family: $common-novelsans-semibold;
      font-weight: normal;
      font-size: 22px;
      line-height: $common-line-height;
    }
    .file-field {
      display: none;
    }
    .add-form-wrap {
      margin-top: 20px;
      .add-form {
        display: none;
        iframe {
          min-height: 172px;
        }
      }
    }

    .create-btn,
    .submit-btn {
      margin-left: 430px;
    }

    .new-card {
      margin-top: 20px;
      padding: 11px 0 11px 0;
      width: $article_column_width - $margin * 2;
      background-color: $common-basic-color;
      font-family: $common-novelsans-semibold;
      font-size: 14px;
      line-height: $common-line-height;
      text-align: center;
      color: $common-btn-text-color;
    }

    .card-content {
      @include cf;
      $card_content_width: $article_column_width - $margin * 2;
      $figure_width: 380px;
      $figure_margin_right: 20px;
      position: relative;
      background-color: $common-background-color;
      margin-bottom: $common-margin * 2;
      padding-bottom: 0;
      width: $card_content_width;
      border: none;
      figure {
        float: left;
        max-width: $figure_width;
        width: $figure_width;
        margin: 0 $figure_margin_right 0 0;
        overflow: hidden;
        border: none;
        box-shadow: none;
        img {
          width: 100%;
        }
        iframe {
          width: 100%;
          height: $figure_width * 3 / 4;
        }
        @include slick;
        .slick {
          float: left;
          max-width: $figure_width;
          width: $figure_width;
          margin: 0 $figure_margin_right 0 0 ;
        }
      }
      h2.title {
        float: left;
        max-width: $card_content_width - $figure_width - $figure_margin_right - 40px;
        font-family: $common-novelsans-light;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.5;
      }
      .description {
        float: left;
        word-wrap: break-word;
        width: $card_content_width - $figure_width - $figure_margin_right;
        font-family: $common-novelsans-light;
        font-size: 14px;
        line-height: 24px;
      }
      .attachments {
        @include cf;
        float: left;
      }
      footer {
        float: left;
        margin-top: $common-margin * 2;
        width: $card_content_width - $figure_width - $figure_margin_right;
      }
    }
  }
}
