== nested_form_for [@owner, @recipe, @post], html: {multipart: true, class: "post-form"} do |f|
  dl
    dt
      'Title
    dd
      == f.text_field :title, id: "post-title"
    / dt
      / 'Body
    / dd
  == f.text_area :body, id: :editor, class: :tinymce, rows: 40, cols: 70
  footer
    == f.submit "Save", id: "submit"

- content_for :bottom
  javascript:
    var url = "#{url_for [@owner, @recipe, PostAttachment.new]}";
    tinymce.init({
      selector: "textarea",
      theme: "modern",
      menubar : false,
      convert_urls : false,
      uploadimage_form_url: url,
      toolbar1: "bold italic forecolor backcolor | bullist numlist | link uploadimage media insertfile |  alignleft aligncenter alignright | hr",
      image_advtab: true,

      plugins: [
        "advlist autolink lists link image charmap hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "paste textcolor uploadimage"
      ],
    });

  coffee:
    $(document).on "click", "#user-avatar", (event, data) ->
      event.preventDefault()
      $("#user-avatar-form").trigger "click"

    $(document).on "click", "#upload-button", (event, data) ->
      event.preventDefault()
      $("#user-avatar-form").trigger "click"

    $(document).on "change", "#user-avatar-form", (event, data, status) ->
      file = event.target.files[0]
      reader = new FileReader()
      reader.onload = ->
        $("#user-avatar").attr("src", reader.result)

      reader.readAsDataURL(file);
