@import "mixins/variables.css.scss";

#card-form-container {
  display: none;
  width: $recipe_main_width;
  background-color: white;
  border: $common-border;
  border-radius: 4px;

  $content_width: $recipe_main_width - 48px;

  #inner_content {
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
  }

  ul.figures {
    li.figure {
      width: 100%;
       img {
         max-width: 300px;
       }
       iframe {
         max-width: 100%;
       }
       img + iframe {
         display: none;
       }
       .caution {
         display: inline-block;
         width: 40%;
         font-size: 14px;
         color: red;
       }
       .btn {
         margin-left: 5px;
       }
       .card-figure-link {
         width: 80%;
       }
    }
    .btn {
      margin-top: 5px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
    .card-figure-content, .card-figure-link {
      display: none;
    }
    &.hide-add-buttons {
      a.add-image, .add-video {
        display: none;
      }
    }
  }

  .card-title {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
    font-size: 18px;
  }
  .card-goal, .card-requirement {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
    font-size: 14px;
  }

  textarea {
    display: block;
    width: $content_width - 2px;
    height: 200px;
    box-sizing: border-box;
    margin-bottom: 12px;
    font-size: 14px;
  }

  #attachments {
    display: none;
  }
}
