/*
 *= require_self
 *= require_tree ./shared
 *= require_tree ./layouts
 *= require_tree ./mixins
 *= require_tree ./projects
 *= require ./card
 *= require select2
 *= require bootstrap_custom
 */

.clickable { cursor: pointer; }
.clickable:hover { opacity: 0.8; }

/* ref: https://www.itsupportguides.com/knowledge-base/tech-tips-tricks/how-to-offset-anchor-tag-link-using-css/ */
:target:before {
  content: "";
  display: block;
  height: 30px;
  margin: -30px 0 0;
}
.anchor {
  outline: none;
}
