@import "mixins/clearfix.css.scss";
#posts-edit {
  width: 960px;
  h1 {
    width: 640px;
    margin: 20px 10px;
    font-size: 32px;
  }

  #post-article {
    width: 640px;
    padding: 0px 10px 10px 10px;
  }
}
