.post-form {
  dt {
    display: block;
    padding: 0px 0 5px 0px;
    font-size: 32px;
    font-weight: 700;
  }

  dd {
    display: block;
    margin: 0;
    padding: 0px 0 15px 0px;
  }

  #post-title {
    width: 640px;
    border: 1px solid black;
    font-size: 32px;
    font-weight: 700;
  }

  textarea {
    width: 100%;
    img {
      width: 640px;
      height: auto;
    }
  }

  footer {
    text-align: right;
    margin-bottom: 5px;
    #submit {
      font-size: 16px;
      margin: 20px 10px;
      font-family: helvetica, sans-serif;
    }
  }
}
