#links {
  margin-top: 20px;
  a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
    border-left: 1px solid gray;
    &:not(:first-child) {
      padding-left: 10px;
    }
  }

  a:first-child {
    border-left: none;
  }
}
