#posts-show {
  #post-attachment {
    img {
      width: 100%;
    }
  }
  #post-title {
    width: 720px;
    padding: 15px 0px;
    font-size: 32px;
  }
  #post-meta {
    .author {
      display: inline-block;
      .avatar {
        width: 40px;
        height: 40px;
      }
      .name {
        height: 40px;
        vertical-align: middle;
        display: inline-block;
        margin-left: 10px;
      }
    }
    .created_at {
      height: 40px;
      vertical-align: middle;
      display: inline-block;
      margin-left: 10px;
    }
  }
  #post-body {
    width: 720px;
    font-size: 14px;
    white-space: pre-wrap;
  }
  footer {
    width: 700px;
    margin-top: 20px;
    text-align: right;
    margin-bottom: 5px;
    a {
      text-decoration: none;
      color: black;
      border: 1px solid black;
      padding: 7px;
      background-color: white;
      cursor: default;
    }
  }
}
